---
import BaseLayout from '@layouts/BaseLayout.astro';
import data from '@content/credits.json';
import type { SourceCreditCategory } from '@/types.ts';
import CreditCard from '@/components/pages/credits/CreditCard.astro';

const creditCategories = data as unknown as SourceCreditCategory[];
---

<style>
  h1 {
    margin: 0;
    padding: 0;
  }

  .max-width {
    padding-inline: 1rem;
    width: 100%;
  }

  .acknowledgement-paragraph {
    font-style: italic;
    color: var(--clr-subtext-1);

    background-color: var(--clr-base);
    padding-inline: 1rem;
    padding-block: 1.5rem;

    outline: 1px solid var(--clr-tertiary);
    border-radius: var(--radius-surface);

    margin-bottom: 2rem;
  }
</style>

<BaseLayout>
  <section class='max-width'>
    <p class='acknowledgement-paragraph box-shadow-2'>
      This website was made possible through the contributions of the
      open-source community who share their work with the world. The
      technologies, libraries, resources, and assets listed below have helped me
      in bringing this site to life.
    </p>
    {
      creditCategories.map((categoryObj) => {
        const [categoryName, categoryData] = Object.entries(categoryObj)[0];

        return (
          <CreditCard
            categoryName={categoryName}
            iconClass={categoryData.iconClass}
            creditItems={categoryData.items}
          />
        );
      })
    }
  </section>
</BaseLayout>
