---
import BaseLayout from '../../layouts/BaseLayout.astro';

const credits = [
  {
    use: 'Framework',
    name: 'Astro',
    url: 'https://astro.build/',
  },
  {
    use: 'Framework Utility',
    name: 'Rehype Callouts',
    url: 'https://github.com/lin-stephanie/rehype-callouts',
  },
  {
    use: 'Color Theme',
    name: 'Catppuccin',
    url: 'https://catppuccin.com/',
  },
  {
    use: 'Icons',
    name: 'Boxicons',
    url: 'https://boxicons.com/',
  },
  {
    use: 'Assets',
    name: 'Undraw',
    url: 'https://undraw.co/',
  },
  {
    use: 'Profile Picture',
    name: 'DiceBear',
    url: 'https://www.dicebear.com/',
  },
  {
    use: 'Blog Background Image',
    name: 'Photo by Stein Egil Liland',
    url: 'https://www.pexels.com/photo/time-lapse-photo-of-northern-lights-1933316/',
  },
  {
    use: 'Blog Background Image',
    name: 'Photo by Eberhard Grossgasteiger',
    url: 'https://www.pexels.com/photo/landscape-photography-of-mountains-covered-in-snow-691668/',
  },
];
---

<BaseLayout>
  <section>
    <h1>Credits</h1>
    <ul>
      <li>
        <p>Framework: Astro</p>
        <ul>
          <li>Rehype Callouts</li>
        </ul>
      </li>
      <li>Theme Colors: Catppuccin</li>
      <li>Icons: Boxicons</li>
      <li>SVG Assets: Undraw</li>
      <li>Profile Picture: Dicebear</li>
      <li>
        <p>Stock photos: Pexels</p>
        <ul>
          <li>(insert Pexels image here)</li>
          <li>(insert Pexels image here)</li>
        </ul>
      </li>
    </ul>
  </section>
</BaseLayout>
