---
import BaseLayout from '@layouts/BaseLayout.astro';
import data from '@content/credits.json';
import type { SourceCreditCategory } from '@/types.ts';
import CreditCard from '@/components/pages/credits/CreditCard.astro';

const creditCategories = data as unknown as SourceCreditCategory[];
---

<style>
  h1 {
    margin: 0;
    padding: 0;
  }

  .max-width {
    padding-inline: 1rem;
    width: 100%;
  }
</style>

<BaseLayout>
  <section class='max-width'>
    {
      creditCategories.map((categoryObj) => {
        const [categoryName, credits] = Object.entries(categoryObj)[0];

        return (
          <CreditCard
            categoryName={categoryName}
            creditItems={credits}
          />
        );
      })
    }
  </section>
</BaseLayout>
