---
import BaseLayout from '../../layouts/BaseLayout.astro';

import data from '../../content/credits.json';

const credits = data.credits;
---

<style>
  h1 {
    margin: 0;
    padding: 0;
  }

  ul.credits-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.8rem;

    list-style-type: none;

    padding: 0;
  }

  li.credit-list-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;

    padding-block: 0.8rem;
    padding-inline: 1.4rem;

    margin: 0;

    border-radius: var(--radius-base);
    border: 1px solid var(--clr-surface-0);

    background-color: var(--clr-base);

    width: 100%;
  }

  h3.credit-list-item-title {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--clr-subtext-1);

    margin: 0;
    margin-bottom: -0.6rem;
    padding: 0;
  }

  a.credit-list-item-link {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 600;
    font-size: 1.2rem;

    padding: 0;
    margin: 0;
  }

  .wrapper {
    margin-inline: 1rem;
  }
</style>

<BaseLayout>
  <section class='wrapper max-width'>
    <h1>Credits</h1>
    <ul class='credits-list'>
      {
        credits.map((credit) => (
          <li class='credit-list-item'>
            <h3 class='credit-list-item-title'>{credit.use}</h3>
            <a
              class='credit-list-item-link'
              href={credit.url}
              target='_blank'>
              <span>{credit.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
