---
import ShowMoreMenu from '@components/pages/blog/ShowMoreMenu.astro';

interface Props {
  posts: any;
  urlPath: string | '/blog/topics/';
}

const { posts, urlPath } = Astro.props;

const topics = [
  ...new Set(posts.map((post: any) => post.data.topic).flat()),
].slice(0, 5);
---

<style>
  /* *** General *** */
  a {
    position: relative;

    width: 100%;
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    color: var(--clr-primary);
  }

  a::after {
    content: '';

    position: absolute;
    bottom: -1rem;
    left: 0;

    width: 0%;
    height: 3px;

    border-radius: 999px;

    background-color: var(--clr-primary);

    z-index: 1;

    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  /* *** Blog Topics Navigation *** */

  .blog-topics-nav {
    grid-column: span 2;

    margin-top: 2rem;
    margin-bottom: 1rem;

    z-index: 5;
  }

  .blog-topics-list {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .blog-topics-list::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3px;

    border-radius: 999px;

    background-color: var(--clr-surface-0);
  }

  .blog-topics-list-item {
    padding-top: 0.5rem;
  }

  .btn-show-more-wrapper {
    margin-left: auto;
    z-index: 1;
  }
</style>

<nav class='blog-topics-nav'>
  <ul
    class='blog-topics-list'
    transition:name='post-directory-topics'>
    {
      topics.map((topic: any) => (
        <li class='blog-topics-list-item'>
          <a href={`${urlPath}${topic}`}>{topic}</a>
        </li>
      ))
    }
    <li class='btn-show-more-wrapper'>
      <ShowMoreMenu id='btn-blog-topics-nav-show-more' />
    </li>
  </ul>
</nav>
