---
import IconButton from "@components/ShowMoreButton.astro";
import { calculateReadingTime } from "@scripts/utils/readingTime";
import { getCollection } from "astro:content";

// const allPosts = await getCollection('blog');

type Props = {
  posts: any;
  urlPath: string | "/blog/topics/";
};

const { posts, urlPath } = Astro.props;

const topics = [...new Set(posts.map((post: any) => post.data.topic).flat())];
---

<style>
  /* *** General *** */
  a {
    position: relative;

    width: 100%;
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    color: var(--clr-primary);
  }

  a::after {
    content: "";

    position: absolute;
    bottom: -1rem;
    left: 0;

    width: 0%;
    height: 3px;

    border-radius: 999px;

    background-color: var(--clr-primary);

    z-index: 1;

    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  /* *** Blog Topics Navigation *** */

  .blog-topics-nav {
    grid-column: span 2;
    /* padding-inline: 1rem; */

    margin-block: 2rem;
  }

  .blog-topics-list {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .blog-topics-list::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1rem;

    width: 100%;
    height: 3px;

    border-radius: 999px;

    background-color: var(--clr-surface-0);
  }
</style>

<nav class="blog-topics-nav">
  <ul class="blog-topics-list" transition:name="post-directory-topics">
    {
      topics.map((topic: any) => (
        <li class="blog-topics-list-item">
          <a href={`${urlPath}${topic}`}>{topic}</a>
        </li>
      ))
    }
    <li class="btn-show-more-wrapper">
      <IconButton
        id="btn-blog-topics-nav-show-more"
        iconClass="bx bxs-chevron-down"
      >
        Show More
      </IconButton>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const btnShowMore = document.getElementById(
      "btn-blog-topics-nav-show-more"
    );

    btnShowMore?.addEventListener("click", () => {
      console.log("hello");
    });
  });
</script>
