---
import { calculateReadingTime } from '@scripts/utils/readingTime';
import { getCollection } from 'astro:content';
import DirectorySideNavList from './DirectorySideNavList.astro';

const allPosts = await getCollection('blog');

const sortedPosts = allPosts
  .sort(
    (a, b) => b.data.date_published.valueOf() - a.data.date_published.valueOf()
  )
  .map((post: any) => ({
    ...post,
    readingTime: calculateReadingTime(post.body),
  }));

const topics = [
  ...new Set(sortedPosts.map((post: any) => post.data.topic).flat()),
];

const categories = [
  ...new Set(sortedPosts.map((post: any) => post.data.category).flat()),
];

const tags = [
  ...new Set(sortedPosts.map((post: any) => post.data.tags).flat()),
];
---

<style>
  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .blog-nav-wrapper {
    position: relative;
  }

  .blog-nav-wrapper[data-appbar-revealed='false'],
  .blog-nav-wrapper[data-appbar-revealed='true'] {
    top: 0;
  }

  .blog-nav-list > li {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .blog-nav-wrapper {
      position: sticky;

      transition: top 0.4s ease-in-out;
    }

    .blog-nav-wrapper[data-appbar-revealed='true'] {
      top: 5rem;
    }

    .blog-nav-wrapper[data-appbar-revealed='false'] {
      top: 1rem;
    }

    .blog-nav-list {
      flex-direction: column;
      align-items: start;

      font-size: 1.2rem;

      margin-left: auto;

      max-width: 18rem;
      width: 100%;
    }
  }
</style>

<aside
  class='blog-nav-wrapper'
  transition:name='post-direcotry-nav'>
  <nav class='blog-nav'>
    <ul class='blog-nav-list'>
      <li>
        <DirectorySideNavList
          title='Topics'
          url='/blog/topics'
          iconClass='bx bxs-bulb'
          list={topics}
          listType='topics'
        />
      </li>

      <li>
        <DirectorySideNavList
          title='Categories'
          url='/blog/categories'
          iconClass='bx bxs-category'
          list={categories}
          listType='categories'
        />
      </li>

      <li>
        <DirectorySideNavList
          title='Tags'
          url='/blog/tags'
          iconClass='bx bxs-tag'
          list={tags}
          listType='tags'
        />
      </li>
      <li>
        <a href='/blog/archive'>Archive</a>
      </li>
    </ul>
  </nav>
</aside>
