---
import Chip from '@components/interface/Chip.astro';
import DateLabel from '@components/interface/DateLabel.astro';
import { calculateReadingTime } from '@scripts/utils/readingTime';

const { post } = Astro.props;
const timeRead = calculateReadingTime(post.body);
---

<style>
  .post-info {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 1rem;

    font-size: 0.9rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-bottom: 0.2rem; */
  }

  .read-minutes {
    grid-row-start: 2;

    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2ch;

    color: var(--clr-subtext-0);

    padding: 0;
    margin: 0;
  }

  .time-read-icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }

  .published-date {
    grid-row-start: 2;
  }

  .category-wrapper {
    justify-self: end;
  }

  .read-minutes {
    grid-column: span 2;
  }

  @media screen and (min-width: 786px) {
    .post-info {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: 1fr;
    }

    .published-date {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .category-wrapper {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    .read-minutes {
      grid-column-start: 3;
      grid-row-start: 1;
      justify-self: end;
    }
  }
</style>

<div class='post-info'>
  <DateLabel date={post.data.date_published} />
  <div class='category-wrapper'>
    <Chip url={`/blog/categories/${post.data.category}`}>
      {post.data.category}
    </Chip>
  </div>
  <p class='read-minutes'>
    <span class='time-read-icon bx bxs-timer'></span>
    <span>
      <span>{timeRead}</span>
      <span> minute read</span>
    </span>
  </p>
</div>
