---
const { url } = Astro.props;
---

<style>
  .read-more-link {
    position: relative;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;

    grid-column: span 2;
    justify-self: start;

    text-decoration: none;
    font-weight: 600;
    color: var(--clr-primary);

    transition-property: right;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .read-more-link-icon {
    position: relative;
    top: 1px;

    font-size: 1.6rem;

    transform: rotate(-45deg);

    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  a.read-more-link:hover {
    right: 3px;
  }

  a.read-more-link:hover > .read-more-link-icon {
    transform: rotate(0);
  }

  a.read-more-link > p {
    color: var(--clr-primary);
  }
</style>

<a
  class='read-more-link'
  href={url}>
  <p><slot /></p>
  <span class='read-more-link-icon ri-arrow-right-fill'></span>
</a>
