---
import ShowMoreButton from './ShowMoreButton.astro';

const { id } = Astro.props;
---

<style>
  .show-more-menu-wrapper {
    position: absolute;

    right: 0;

    width: 12rem;

    margin-top: 0.5rem;

    background-color: var(--clr-base);
    padding: 1rem;

    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

    transition-property: transform, visibility, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .show-more-menu-wrapper[data-open='true'] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }

  .show-more-menu-wrapper[data-open='false'] {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20%);
  }

  ul.link-list {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  li.link-list-item {
    padding: 0;
    margin: 0;
  }
</style>

<div class='show-more-wrapper'>
  <ShowMoreButton id={id}> Show More </ShowMoreButton>

  <aside
    class='show-more-menu-wrapper'
    id='show-more-menu-wrapper'
    data-open='false'>
    <nav>
      <ul class='link-list'>
        <li class='link-list-item'><a href='#'>Topic Item 1</a></li>
        <li class='link-list-item'><a href='#'>Topic Item 2</a></li>
        <li class='link-list-item'><a href='#'>Topic Item 3</a></li>
      </ul>
    </nav>
  </aside>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const menuShowMore = document.getElementById('show-more-menu-wrapper');

    const btnShowMore = document.getElementById(
      'btn-blog-topics-nav-show-more'
    );

    const btnShowMoreLabel = btnShowMore!.querySelector(
      '.btn-label'
    ) as HTMLElement;

    function closeMenu() {
      btnShowMoreLabel!.innerText = 'Show More';
      btnShowMore!.setAttribute('data-open', 'false');
      menuShowMore!.setAttribute('data-open', 'false');
    }

    function openMenu() {
      btnShowMoreLabel!.innerText = 'Show Less';
      btnShowMore!.setAttribute('data-open', 'true');
      menuShowMore!.setAttribute('data-open', 'true');
    }

    btnShowMore?.addEventListener('click', () => {
      if (btnShowMore.getAttribute('data-open') === 'true') {
        closeMenu();
      } else if (btnShowMore.getAttribute('data-open') === 'false') {
        openMenu();
      }
    });
  });
</script>
