---
import ShowMoreButton from './ShowMoreButton.astro';

const { id } = Astro.props;
---

<style>
  .show-more-menu-wrapper {
    position: absolute;

    right: 0;

    width: 12rem;

    margin-top: 0.5rem;

    background-color: var(--clr-base);
    padding: 1rem;

    border-radius: var(--radius-surface);
  }

  ul.link-list {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  li.link-list-item {
    padding: 0;
    margin: 0;
  }
</style>

<div class='show-more-wrapper'>
  <ShowMoreButton id={id}> Show More </ShowMoreButton>

  <aside class='show-more-menu-wrapper'>
    <nav>
      <ul class='link-list'>
        <li class='link-list-item'><a href='#'>Topic Item 1</a></li>
        <li class='link-list-item'><a href='#'>Topic Item 2</a></li>
        <li class='link-list-item'><a href='#'>Topic Item 3</a></li>
      </ul>
    </nav>
  </aside>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const btnShowMore = document.getElementById(
      'btn-blog-topics-nav-show-more'
    );

    btnShowMore?.addEventListener('click', () => {
      console.log('hello');
    });
  });
</script>
