---
import BaseLayout from '../../layouts/BaseLayout.astro';

import data from '../../scripts/data.json';

const aboutMeParagraph = data.aboutMeParagraph;

const title = 'About';
---

<style>
  p {
    max-width: 74ch;
  }
</style>

<BaseLayout title={title}>
  <div class='max-width'>
    <h1>About</h1>
    <section>
      <a href='/about/resume'>My Resume</a>
      <p class='hero-paragraph'>
        {aboutMeParagraph}
      </p>
    </section>
    <section>
      <h2>Education</h2>
      <h3>Lorem Ipsum University</h3>
      <p>2024</p>
    </section>
    <section>
      <h2>Experience</h2>
      <h3>Lorem Ipsum</h3>
      <p>2023 - Present</p>
      <ul>
        <li>Lorem ipsum</li>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
          placeat omnis non voluptates nisi? Quam numquam magni autem aut
          eligendi, voluptate, tempora soluta debitis, ipsum sequi esse quia
          dicta optio.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo neque
          corporis cum odit laborum accusantium quae vero qui impedit? Earum
          laudantium consectetur expedita provident? Modi sapiente sit odit id
          eum.
        </li>
      </ul>
      <h3>Lorem Ipsum</h3>
      <p>2023 - Present</p>
      <ul>
        <li>Lorem ipsum</li>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
          placeat omnis non voluptates nisi? Quam numquam magni autem aut
          eligendi, voluptate, tempora soluta debitis, ipsum sequi esse quia
          dicta optio.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo neque
          corporis cum odit laborum accusantium quae vero qui impedit? Earum
          laudantium consectetur expedita provident? Modi sapiente sit odit id
          eum.
        </li>
      </ul>
      <h3>Lorem Ipsum</h3>
      <p>2023 - Present</p>
      <ul>
        <li>Lorem ipsum</li>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
          placeat omnis non voluptates nisi? Quam numquam magni autem aut
          eligendi, voluptate, tempora soluta debitis, ipsum sequi esse quia
          dicta optio.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo neque
          corporis cum odit laborum accusantium quae vero qui impedit? Earum
          laudantium consectetur expedita provident? Modi sapiente sit odit id
          eum.
        </li>
      </ul>
    </section>
  </div>
</BaseLayout>
