---
import BaseLayout from '../../layouts/BaseLayout.astro';

import data from '../../scripts/data.json';

const aboutMeParagraph = data.aboutMeParagraph;

const title = 'About';
---

<style>
  p {
    max-width: 74ch;
  }
</style>

<BaseLayout title={title}>
  <section class='max-width'>
    <h1>About</h1>
    <a href='/about/resume'>My Resume</a>
    <p class='hero-paragraph'>
      {aboutMeParagraph}
    </p>
  </section>
</BaseLayout>
