---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'About';
---

<BaseLayout title={title}>
  <section class='max-width'>
    <h1>About</h1>
    <p class='hero-paragraph'>
      A versatile professional dedicated to delivering comprehensive and
      adaptable solutions across a range of services. Committed to excellence
      and reliability while bringing a blend of creativity and technical
      expertise to foster effective results.
    </p>
  </section>
</BaseLayout>
