---
import Heading from '@/components/typgraphy/Heading.astro';
import HeroLink from './HeroLink.astro';
import type { Link } from '@/types';

interface Props {
  links: Link[];
  title: string;
  internalLink: boolean;
}

const { links, title, internalLink } = Astro.props;
---

<style></style>

<article>
  <Heading>{title}</Heading>
  <nav>
    <ul>
      {
        links.map((link) => (
          <li>
            <HeroLink
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
              newTab={internalLink ? false : true}
            />
          </li>
        ))
      }
    </ul>
  </nav>
</article>
