---
import links from '@content/links.json';

const filteredInternalLinks = links.internalLinks.filter(
  (link) => link.url !== '/'
);

const workLinks = links.workLinks;
const resumeLinks = links.resumeLinks;

const allLinks = [...filteredInternalLinks, ...workLinks, ...resumeLinks];

console.log(allLinks);
---

<ul>
  {
    allLinks.map((linkItem) => (
      <li>
        {linkItem.internal === 'true' ? (
          <a href={linkItem.url}>{linkItem.label}</a>
        ) : (
          <a
            href={linkItem.url}
            target='_blank'
            rel='noopener noreferrer'>
            {linkItem.label}
          </a>
        )}
      </li>
    ))
  }
</ul>
