---
import { Picture } from 'astro:assets';

import profilePicture from '@assets/images/site/index/profile-pic-trans-bg.png';
---

<style>
  .image-frame {
    isolation: isolate;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: 0.4rem solid var(--clr-crust);
    border-radius: var(--radius-circle);

    width: 9rem;
    height: 9rem;

    top: 0rem;

    aspect-ratio: 1 / 1;

    overflow: hidden;

    transition-property: scale, filter, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .image-frame:hover {
    scale: 1.015;
  }

  .image-frame:hover > .link > .bg-color {
    opacity: 0.75;
  }

  .bg-color {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: var(--clr-secondary);

    opacity: 0.65;

    z-index: -1;

    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.link {
    transition-property: scale, filter, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    z-index: 2;
  }

  .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;

    --image-size: 9.8rem;

    width: var(--image-size);
    height: var(--image-size);

    border-radius: var(--radius-circle);

    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    .image-frame {
      max-width: 20rem;
      max-height: 20rem;

      width: 100%;
      height: 100%;

      /* top: -2rem; */
      /* Slight adjustment to make it visually look more centered */
    }

    .profile-image {
      --image-size: 100%;
    }
  }
</style>

<div class='image-frame box-shadow-3'>
  <a
    class='link'
    href='/about'>
    <div class='bg-color'></div>
    <Picture
      src={profilePicture}
      formats={['webp', 'png']}
      alt='Austin Hagel'
      loading='eager'
      decoding='async'
      class='profile-image'
    />
  </a>
</div>
