---
import { Picture } from 'astro:assets';

import profilePicture from '@assets/images/site/index/profile-pic-trans-bg.png';
---

<style>
  .image-frame {
    isolation: isolate;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: 0.4rem solid var(--clr-crust);
    border-radius: var(--radius-circle);

    background-color: var(--clr-primary);

    width: 9rem;
    height: 9rem;

    aspect-ratio: 1 / 1;

    transition-property: scale, filter, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .image-frame:hover {
    scale: 1.015;
  }

  a.link {
    transition-property: scale, filter, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    z-index: 2;
  }

  a.link:hover {
    filter: brightness(110%);
  }

  .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;

    --image-size: 9.8rem;

    width: var(--image-size);
    height: var(--image-size);

    border-radius: var(--radius-circle);

    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    .image-frame {
      width: 20rem;
      height: 20rem;
    }

    .profile-image {
      --image-size: 22rem;
    }
  }
</style>

<div class='image-frame box-shadow-3'>
  <a
    class='link'
    href='/about'>
    <Picture
      src={profilePicture}
      formats={['webp', 'png']}
      alt='Austin Hagel'
      loading='eager'
      decoding='async'
      class='profile-image'
    />
  </a>
</div>
