---
const { iconClass, url, label } = Astro.props;
---

<style>
  a.social-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--clr-subtext-1);
    text-decoration: none;
    font-size: 1.5rem;

    background-color: var(--clr-surface-0);

    width: 2.5rem;
    height: 2.5rem;

    opacity: 0.8;

    /* padding: 0.4rem; */

    border-radius: var(--radius-circle);

    transition-property: background-color, color, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a:hover {
    background-color: var(--clr-surface-1);
    color: var(--clr-primary);
    opacity: 1;
  }

  .social-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<a
  class='social-link-wrapper'
  href={url}
  target='_blank'
  title={label}>
  <div class={`social-link-icon`}>
    <span class={iconClass}></span>
  </div>
  <p class='social-link-label visually-hidden'>{label}</p>
</a>
