---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts = await getCollection('blog');

const title = 'Blog';
---

<BaseLayout title={title}>
  <h1>Blog</h1>
  <nav>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <ul>
      <li>
        <a href='/blog/tags'>Tags</a>
      </li>
      <li>
        <a href='/blog/categories'>Categories</a>
      </li>
    </ul>
  </nav>
</BaseLayout>
