---
interface Props {
  url?: string;
  size?: 'sm' | 'md' | 'lg';
}
const { url, size = 'md' } = Astro.props;
---

<style>
  a.chip {
    outline: 1px solid var(--clr-surface-0);
    text-decoration: none;
  }

  .chip {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;

    background-color: var(--clr-mantle);

    color: var(--clr-subtext-1);
    font-weight: 500;
    /* font-size: 1rem; */

    padding-inline: 0.8rem;
    padding-block: 0.4rem;

    border-radius: var(--radius-chip);

    max-height: fit-content;

    transition-property: color, background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.chip:hover {
    color: var(--clr-text);
    background-color: var(--clr-base);
    outline: 1px solid var(--clr-surface-1);
  }

  .sm {
    font-size: 0.85rem;
  }

  .md {
    font-size: 1rem;
  }

  .lg {
    font-size: 1.2rem;
  }
</style>

{
  url ? (
    <a
      href={url}
      class=`chip ${size}`>
      <slot />
    </a>
  ) : (
    <div class=`chip ${size}`>
      <slot />
    </div>
  )
}
