---
const { url } = Astro.props;
---

<style>
  a.chip {
    outline: 1px solid var(--clr-surface-0);
    text-decoration: none;
  }

  .chip {
    background-color: var(--clr-mantle);

    color: var(--clr-subtext-1);
    font-weight: 500;
    font-size: 1rem;

    padding-inline: 0.8rem;
    padding-block: 0.4rem;

    border-radius: var(--radius-chip);
    outline: 1px solid var(--clr-base);

    max-height: fit-content;

    transition-property: color, background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.chip:hover {
    color: var(--clr-text);
    background-color: var(--clr-crust);
    outline: 1px solid var(--clr-primary);
  }
</style>

{
  url ? (
    <a
      href={url}
      class='chip'>
      <slot />
    </a>
  ) : (
    <div class='chip'>
      <slot />
    </div>
  )
}
