---
const { date } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString('en-US', {
  month: 'short',
  day: 'numeric',
  year: 'numeric',
});
---

<style>
  time {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0;

    font-size: 0.9rem;
    color: var(--clr-text);
    font-weight: 600;
  }

  .date-icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }

  @media screen and (min-width: 768px) {
    time {
      font-size: 1rem;
      gap: 0.4rem;
    }
  }
</style>

<time datetime={date}>
  <span class='date-icon bx bxs-calendar-alt'></span>
  <span>{formattedDate}</span>
</time>
