---
const { inDrawer } = Astro.props;
---

<style>
  fieldset {
    display: flex;

    border: none;
    padding: 0;
    margin: 0;
  }

  input {
    border: none;

    padding-right: 0.1rem;
    padding-left: 1rem;
    padding-block: 0.4rem;

    background-color: var(--clr-surface-0);

    outline: 1px solid var(--clr-surface-1);
    border-radius: var(--radius-pill) 0 0 var(--radius-pill);

    text-align: left;

    width: 3.2rem;
    height: 2rem;

    transition-property: color, background-color, width;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  input::placeholder {
    color: var(--clr-primary);
    font-size: 1.8rem;

    visibility: visible;
    opacity: 1;

    transition-property: visiblity, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  input:hover {
    background-color: var(--clr-surface-2);
    outline: 1px solid var(--clr-surface-1);
  }

  input:hover::placeholder {
    color: var(--clr-text);
  }

  input:active,
  input:focus,
  input:not(:placeholder-shown) {
    width: 8rem;
    outline: 1px solid var(--clr-primary);
  }

  label:has(input:active) ~ button,
  label:has(input:focus) ~ button,
  label:has(input:not(:placeholder-shown)) ~ button {
    outline: 1px solid var(--clr-primary);
  }

  input:active::placeholder,
  input:focus::placeholder {
    opacity: 0;
    visibility: hidden;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    border-radius: 0 var(--radius-pill) var(--radius-pill) 0;

    background-color: var(--clr-base);

    outline: 1px solid var(--clr-surface-0);

    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  button:hover {
    background-color: var(--clr-surface-1);
    color: var(--clr-primary);
  }

  .btn-icon {
    position: relative;
    top: 2px;
    left: -1px;

    font-size: 1.2rem;

    padding-inline: 0.2rem;
  }

  .search-wrapper[data-in-drawer='false'] {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .search-wrapper[data-in-drawer='false'] {
      display: flex;
    }

    .btn-icon {
      top: 1px;
    }
  }
</style>

<section
  class='search-wrapper'
  role='search'
  data-in-drawer={inDrawer}>
  <form
    action='#'
    method='get'>
    <fieldset>
      <legend class='visually-hidden'>Search this website:</legend>
      <label for='s'>
        <input
          type='search'
          name='s'
          id='s'
          placeholder='_'
          maxlength='200'
        />
      </label>
      <button
        type='submit'
        title='Search this website now'>
        <span class='btn-icon bx bx-search'></span>
      </button>
    </fieldset>
  </form>
</section>
