---
const searchInputId = `search`;
---

<style>
  #search-input-main {
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }
  fieldset {
    display: flex;

    border: none;
    padding: 0;
    margin: 0;
  }

  input {
    border: none;

    padding-right: 0.1rem;
    padding-left: 1rem;
    padding-block: 0.4rem;

    background-color: var(--clr-mantle);

    outline: 1px solid var(--clr-surface-1);
    border-radius: var(--radius-pill) 0 0 var(--radius-pill);

    text-align: left;

    width: 3.2rem;
    height: 2rem;

    transition-property: color, background-color, width;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  input::placeholder {
    color: var(--clr-primary);
    font-size: 1.8rem;

    visibility: visible;
    opacity: 1;

    transition-property: visibility, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  input:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
  }

  input:hover::placeholder {
    color: var(--clr-text);
  }

  input:active,
  input:focus,
  input:not(:placeholder-shown) {
    width: 8rem;
    outline: 1px solid var(--clr-primary);
  }

  label:has(input:active) ~ button,
  label:has(input:focus) ~ button,
  label:has(input:not(:placeholder-shown)) ~ button {
    outline: 1px solid var(--clr-primary);
  }

  input:active::placeholder,
  input:focus::placeholder {
    opacity: 0;
    visibility: hidden;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    border-radius: 0 var(--radius-pill) var(--radius-pill) 0;

    background-color: var(--clr-surface-0);

    outline: 1px solid var(--clr-surface-0);

    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  button:hover {
    background-color: var(--clr-surface-1);
    color: var(--clr-primary);
  }

  .btn-icon {
    position: relative;
    top: 2px;
    left: -1px;

    font-size: 1.2rem;

    padding-inline: 0.2rem;
  }

  .search-wrapper {
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }

  @media screen and (max-width: 768px) {
    /* Mobile */
    section.search-wrapper {
      position: fixed;
      top: 1rem;
      left: 50%;
      /* transform: translateX(-50%); */

      margin-left: 1.5rem;

      display: flex;
    }

    /* Mobile */
    section.search-wrapper input:active,
    section.search-wrapper input:focus,
    section.search-wrapper input:not(:placeholder-shown) {
      width: calc(100vw - 18rem);
      outline: 1px solid var(--clr-primary);
    }

    /* Mobile AND Hidden */
    .search-wrapper[data-hidden='true'] {
      transform: translateY(-200%) translateX(-50%);
    }

    /* Mobile AND NOT Hidden */
    .search-wrapper[data-hidden='false'] {
      transform: translateY(0) translateX(-50%);
    }
  }

  @media screen and (min-width: 768px) {
    /* Desktop AND Hidden */
    .search-wrapper[data-hidden='true'] {
      transform: translateY(-100%) translateX(0%);
    }

    /* Desktop AND NOT Hidden */
    .search-wrapper[data-hidden='false'] {
      transform: translateY(0) translateX(0%);
    }

    .btn-icon {
      top: 1px;
    }
  }
</style>

<section
  id='search-wrapper'
  class='search-wrapper'
  role='search'
  data-hidden='false'>
  <form id={`search-input-form`}>
    <fieldset>
      <legend class='visually-hidden'>Search this website:</legend>
      <label for={searchInputId}>
        <input
          type='search'
          name={searchInputId}
          id={searchInputId}
          placeholder='_'
          min='1'
          required
        />
      </label>
      <button
        type='submit'
        title='Search this website now'>
        <span class='btn-icon ri-search-line'></span>
      </button>
    </fieldset>
  </form>
</section>

<script>
  document.addEventListener('astro:page-load', () => {
    const form = document.getElementById(
      'search-input-form'
    ) as HTMLFormElement;

    form!.addEventListener('submit', (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      const searchTerm = formData.get('search')?.toString();

      if (!searchTerm || searchTerm.length <= 0) return;

      const url = new URL(`/search`, window.location.origin);
      url.searchParams.set(`q`, searchTerm);

      window.location.assign(url.toString());
    });
  });
</script>
