---
const { url } = Astro.props;
---

<style>
  a.tag {
    text-decoration: none;
    outline: 1px solid var(--clr-surface-1);
  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-surface-0);

    padding-inline: 1em;
    padding-block: 0.2rem;

    border-radius: var(--radius-pill);

    color: var(--clr-subtext-1);
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 500;

    max-width: fit-content;
    max-height: fit-content;

    transition-property: color, background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  .tag::before {
    content: '#';

    position: relative;
    top: 1px;
    left: -1px;

    color: var(--clr-subtext-0);
    opacity: 0.4;
    font-size: 1rem;
    /* margin-right: 0.15ch; */

    transition-property: opacity, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.tag:hover {
    color: var(--clr-text);
    background-color: var(--clr-surface-1);
    outline: 1px solid var(--clr-surface-2);
  }

  a.tag:hover::before {
    opacity: 0.8;
    color: var(--clr-primary);
  }
</style>

{
  url ? (
    <a
      class='tag'
      href={url}>
      <slot />
    </a>
  ) : (
    <div class='tag'>
      <slot />
    </div>
  )
}
