@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.tff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Light.tff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-ExtraLight.tff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Thin.tff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBold.tff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.tff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-Italic.tff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-SemiBoldItalic.tff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-BoldItalic.tff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-LightItalic.tff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-ExtraLightItalic.tff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBM_Plex_Serif/IBMPlexSerif-ThinItalic.tff');
  font-weight: 200;
  font-style: italic;
}
