:root {
  color-scheme: dark light;

  --clr-text: white;

  --clr-primary: rgb(86, 231, 219);
  --clr-primary-trans-10: rgba(86, 231, 219, 0.1);

  --clr-surface: rgb(57, 57, 57);
  --clr-surface-trans-40: rgba(57, 57, 57, 0.4);

  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;

  padding: 0;
  margin: 0;

  font-family: 'IBM Plex Serif', serif;
}

.max-width {
  max-width: 1024px;
}
