li.search-result-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  gap: 0 1rem;

  padding: 1rem;

  outline: 1px solid var(--clr-surface-0);
  border-radius: var(--radius-surface);

  background-color: var(--clr-base);
}

h3.search-result-title {
  margin: 0;
  margin-bottom: 0.4rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.search-result-link-title {
  grid-column: span 2;

  text-decoration: none;

  overflow: hidden;

  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

a.search-result-link-title:hover {
  color: var(--clr-primary);
}

a.search-result-link-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.search-result-date {
  grid-column: span 2;

  color: var(--clr-subtext-0);
}

p.search-result-desc {
  width: 100%;
  margin-top: 1.5rem;
}

a.search-result-link {
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-weight: 600;
  text-decoration: none;

  margin-left: auto;
  background-color: var(--clr-mantle);

  padding-inline: 1rem;
  padding-block: 0.8rem;

  border-radius: var(--radius-input);
  outline: 1px solid var(--clr-surface-0);

  height: fit-content;

  transition-property: color, outline, background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

a.search-result-link:hover {
  background-color: var(--clr-surface-0);
  outline: 1px solid var(--clr-surface-1);
  color: var(--clr-primary);
}
