---
import type { ImageMetadata } from 'astro';
import ProjectGalleryImage from './ProjectGalleryImage.astro';

interface ImageProps {
  src: ImageMetadata;
  alt: string;
}

interface Props {
  images: ImageProps[];
}

const { images } = Astro.props;
---

<style>
  .images-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;

    height: 35rem;

    overflow: hidden;
  }
</style>

<div class='images-wrapper'>
  {
    images.map((image) => (
      <ProjectGalleryImage
        image={image}
        active={true}
      />
    ))
  }
</div>
