---
import type { ImageMetadata } from 'astro';
import ProjectGalleryImage from './ProjectGalleryImage.astro';

interface ImageProps {
  src: ImageMetadata;
  alt: string;
}

interface Props {
  images: ImageProps[];
}

const { images } = Astro.props;
---

<style>
  .image-gallery-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;

    height: 35rem;

    overflow: hidden;
  }

  .btn-nav-img-wrapper {
    position: absolute;
    top: 50%;

    z-index: 1;

    font-size: 2rem;
  }

  .btn-nav-left-wrapper {
    left: 1rem;
  }

  .btn-nav-right-wrapper {
    right: 1rem;
  }

  .btn-nav-img {
    isolation: isolate;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 3.4rem;
    width: 3.4rem;

    background-color: transparent;

    border: none;
    border-radius: var(--radius-circle);

    color: var(--clr-text);
    font-size: 2.6rem;

    cursor: pointer;

    overflow: hidden;

    transition-property: outline, background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .btn-nav-img::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    opacity: 0.4;

    width: 100%;
    height: 100%;

    border-radius: var(--radius-circle);

    background-color: var(--clr-mantle);

    transition-property: outline, background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    z-index: -1;
  }

  .btn-nav-img:hover {
    color: var(--clr-primary);
  }

  .btn-nav-img:hover::before {
    background-color: var(--clr-surface-2);
  }

  .btn-nav-icon {
    position: absolute;

    top: 0.5rem;
  }

  .images-wrapper {
    /* position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column; */
  }
</style>

<div class='image-gallery-wrapper'>
  <div class='btn-nav-img-wrapper btn-nav-left-wrapper'>
    <button
      id='btn-previous-img'
      class='btn-nav-img btn-nav-left'
      title='Previous Image'
      ><span class='btn-nav-icon bx bx-chevron-left'></span><span
        class='visually-hidden'>Previous Image</span
      ></button
    >
  </div>

  <div class='btn-nav-img-wrapper btn-nav-right-wrapper'>
    <button
      id='btn-next-img'
      class='btn-nav-img btn-nav-right'
      title='Next Image'
      ><span class='btn-nav-icon bx bx-chevron-right'></span><span
        class='visually-hidden'>Next Image</span
      ></button
    >
  </div>
  <div class='images-wrapper'>
    {
      images.map((image, index) => (
        <ProjectGalleryImage
          image={image}
          active={false}
          id={`project-image-${index}`}
        />
      ))
    }
  </div>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const btnPrev = document.getElementById('btn-previous-img');
    const btnNext = document.getElementById('btn-next-img');

    const projectImages: HTMLElement =
      document.querySelector('.images-wrapper')!;

    let currentIndex = 0;

    projectImages.firstElementChild!.setAttribute('data-active', 'true');

    btnNext?.addEventListener('click', () => {
      projectImages.children[currentIndex].setAttribute('data-active', 'false');

      currentIndex++;

      if (currentIndex >= projectImages.children.length) {
        currentIndex = 0;
      }

      projectImages.children[currentIndex].setAttribute('data-active', 'true');
    });

    btnPrev?.addEventListener('click', () => {
      projectImages.children[currentIndex].setAttribute('data-active', 'false');

      currentIndex--;

      if (currentIndex < 0) {
        currentIndex = projectImages.children.length - 1;
      }

      projectImages.children[currentIndex].setAttribute('data-active', 'true');
    });
  });
</script>
