---
import { Image } from 'astro:assets';

interface Props {
  image: any;
  active: boolean;
}

const { image, active } = Astro.props;
---

<style>
  .project-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  [data-active='false'] {
    visibility: hidden;
  }

  [data-active='true'] {
    visibility: visible;
  }
</style>

<div data-active={active}>
  <Image
    class={'project-image'}
    alt={image.alt}
    src={image.src}
  />
</div>
