---
import HeroLinksGroup from '@/components/pages/index/HeroLinksGroup.astro';
import PostsSection from '@/components/pages/index/PostsSection.astro';
import ProjectsSection from '@/components/pages/index/ProjectsSection.astro';
import SocialLinksGroup from '@/components/pages/index/SocialLinksGroup.astro';
import ProfilePicture from '@components/pages/index/ProfilePicture.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const title = 'Austin Hagel';
---

<style>
  hr {
    border: none;

    height: 1px;

    background-color: var(--clr-surface-0);

    margin: 0;
    padding: 0;
  }

  hr.hr-short {
    display: flex;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);

    height: 0.25rem;

    min-width: auto;
    width: 100%;
    max-width: 5rem;
  }

  hr.hero-hr {
    max-width: 40rem;
    width: 100%;
  }

  section.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    padding-inline: 1rem;

    width: 100%;

    margin-top: -14rem;

    min-height: 100lvh;
  }

  section.featured-projects {
    margin-top: 6rem;
    margin-bottom: 12rem;
  }

  section.info-section {
    padding-inline: 1rem;
    width: 100%;
  }

  section.about-section {
    margin-bottom: 6rem;
  }

  .hero-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  h1.name {
    font-size: 3.5rem;

    margin: 0;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1ch;

    font-size: 1.2rem;
  }

  .title-splitter {
    content: '';

    width: 2px;
    height: 1.5rem;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);
  }

  .profile-pic-wrapper {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .title-wrapper {
    margin-bottom: 1rem;
  }

  .title-wrapper > p {
    margin: 0;

    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    color: var(--clr-subtext-1);
  }

  .post-section-title {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    font-size: 2rem;

    margin: 0;
  }

  .post-section-title-icon {
    font-size: 3rem;
  }

  .hero-summary {
    max-width: 46ch;
  }

  .social-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .hero-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 40rem;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    section.hero-section {
      margin-top: -2rem;
    }

    .hero-link-list {
      width: 100%;
      max-width: 18rem;
    }
  }

  @media screen and (min-width: 1024px) {
    hr.hero-hr {
      display: flex;
    }
  }
</style>

<BaseLayout title={title}>
  <section class='hero-section max-width'>
    <div class='hero-content-1'>
      <div class='profile-pic-wrapper'>
        <ProfilePicture />
      </div>

      <h1 class='name'>Austin Hagel</h1>

      <div class='title-wrapper'>
        <p>Developer</p>
        <span class='title-splitter'></span>
        <p>Designer</p>
      </div>
      <div class='social-links-wrapper'>
        <SocialLinksGroup />
      </div>
    </div>

    <hr class='hero-hr' />

    <div class='hero-content-2'>
      <div class='hero-link-list'>
        <HeroLinksGroup />
      </div>
    </div>
  </section>

  <section class='max-width about-section info-section'>
    <h2 class='post-section-title'>
      <span class='post-section-title-icon ri-user-5-fill'></span>
      <span>About</span>
    </h2>
    <hr class='hr-short' />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
      reiciendis asperiores, obcaecati ut at odit vero. Voluptatibus similique,
      laborum quam explicabo fuga reprehenderit qui, quibusdam sint adipisci
      aliquid molestiae, dolores facere ab doloremque laudantium ipsa quisquam
      odit! Aspernatur, dolorem culpa.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae amet
      animi deleniti tenetur sapiente ipsam, totam cupiditate velit nulla
      eligendi esse illo, odit facere.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi unde beatae
      cumque hic velit omnis laborum alias ea. Voluptatem iste nam voluptate
      quidem consectetur vel eveniet molestias dicta ad ut?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae unde sint
      sed nulla in maxime molestiae veritatis nobis, esse at natus. Hic facilis
      eligendi nulla alias numquam quo earum, quisquam ex pariatur! Aliquam
      alias dolores, impedit nulla, dolorum facilis numquam quo est ducimus
      maxime nam, fuga ipsam nihil sint dolore.
    </p>
  </section>

  <section class='max-width recent-posts info-section'>
    <PostsSection />
  </section>

  <section class='max-width featured-projects info-section'>
    <ProjectsSection />
  </section>
</BaseLayout>
