---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

import profilePicture from '../images/portrait_transbg_nooutline.png';
import LinkList from '../components/LinkList.astro';

const title = 'Austin Hagel';
---

<style>
  h1 {
    margin: 0;
    padding: 0;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-inline: 1rem;
    padding-block: 8rem;
  }

  .hero-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-image {
    border-radius: 50%;
    outline: 2px solid var(--clr-text);

    background-color: var(--clr-surface-400);

    --image-size: 12rem;

    width: var(--image-size);
    height: var(--image-size);
  }

  h1.hero-title {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.02ch;

    padding: 0;
    margin: 0;
  }

  .hero-paragraph {
    max-width: 74ch;
    font-size: 1rem;

    padding: 0;
    margin: 0;
  }

  .hero-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 2rem;
  }

  hr {
    margin-block: 1.6rem;

    border: none;

    width: 100%;
    background-color: white;
    height: 1px;
  }
</style>

<BaseLayout title={title}>
  <section class='hero-wrapper max-width'>
    <Image
      src={profilePicture}
      alt='A photo of Austin'
      loading='lazy'
      decoding='async'
      width='512'
      class='profile-image'
    />
    <div class='hero-info-wrapper'>
      <h1 class='hero-title'>Austin Hagel</h1>
      <div class='hero-link-list'>
        <LinkList />
      </div>
    </div>
  </section>
</BaseLayout>
