---
import HeroLinksGroup from '@/components/pages/index/HeroLinksGroup.astro';
import PostsSection from '@/components/pages/index/PostsSection.astro';
import ProjectsSection from '@/components/pages/index/ProjectsSection.astro';
import SectionLinksGroup from '@/components/pages/index/SectionLinksGroup.astro';
import SocialLinksGroup from '@/components/pages/index/SocialLinksGroup.astro';
import ProfilePicture from '@components/pages/index/ProfilePicture.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const title = 'Austin Hagel';
---

<style>
  hr {
    border: none;

    height: 1px;

    background-color: var(--clr-surface-0);

    margin: 0;
    padding: 0;
  }

  hr.hr-short {
    display: flex;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);

    height: 0.25rem;

    min-width: auto;
    width: 100%;
    max-width: 5rem;
  }

  hr.hero-hr {
    max-width: 40rem;
    width: 100%;
  }

  section.info-section {
    padding-inline: 1rem;
    width: 100%;
  }

  section.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    padding-inline: 1rem;

    width: 100%;

    margin-top: -14rem;

    min-height: 100lvh;
  }

  section.about-section {
    margin-bottom: 6rem;
  }

  section.links-section {
    margin-bottom: 6rem;
  }

  section.recent-posts {
    margin-bottom: 6rem;
  }

  section.featured-projects {
    margin-bottom: 8rem;
  }

  .hero-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  h1.name {
    font-size: 3.5rem;

    margin: 0;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1ch;

    font-size: 1.2rem;
  }

  .title-splitter {
    content: '';

    width: 2px;
    height: 1.5rem;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);
  }

  .profile-pic-wrapper {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .title-wrapper {
    margin-bottom: 1rem;
  }

  .title-wrapper > p {
    margin: 0;

    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
    color: var(--clr-subtext-1);
  }

  .post-section-title {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    font-size: 2rem;

    margin: 0;
  }

  .post-section-title-icon {
    font-size: 3rem;
  }

  .hero-summary {
    max-width: 46ch;
  }

  .social-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .hero-content-2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 40rem;
    width: 100%;
  }

  a.btn-learn-more {
    background-color: var(--clr-base);

    padding-inline: 1.8rem;
    padding-block: 1rem;

    font-size: 1.2rem;
    font-weight: 700;
    color: var(--clr-text);
    text-decoration: none;

    border-radius: var(--radius-input);
    outline: 1px solid var(--clr-primary);

    margin-top: 1.5rem;

    transition-property: background-color, outline, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.btn-learn-more:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-text);
    color: var(--clr-primary);
  }

  #about {
    scroll-margin-top: 6rem;
  }

  @media screen and (max-width: 768px) {
    section.hero-section {
      margin-top: -2rem;
    }

    .hero-link-list {
      width: 100%;
      max-width: 18rem;
    }
  }

  @media screen and (min-width: 1024px) {
    hr.hero-hr {
      display: flex;
    }
  }
</style>

<BaseLayout title={title}>
  <section class='hero-section max-width'>
    <div class='hero-content-1'>
      <div class='profile-pic-wrapper'>
        <ProfilePicture />
      </div>

      <h1 class='name'>Austin Hagel</h1>

      <div class='title-wrapper'>
        <p>Developer</p>
        <span class='title-splitter'></span>
        <p>Designer</p>
      </div>
      <div class='social-links-wrapper'>
        <SocialLinksGroup />
      </div>
    </div>

    <hr class='hero-hr' />

    <div class='hero-content-2'>
      <div class='hero-link-list'>
        <HeroLinksGroup />
      </div>
      <a
        class='btn-learn-more'
        href='#about'
        >Learn More</a
      >
    </div>
  </section>

  <section
    id='about'
    class='max-width about-section info-section'>
    <h2 class='post-section-title'>
      <span class='post-section-title-icon ri-user-5-fill'></span>
      <span>About</span>
    </h2>
    <hr class='hr-short' />
    <p>Hello, and welcome to my website!</p>
    <p>
      I am a developer that specializes in web development, with some skills in
      design as well.
    </p>

    <p>
      My specialty right now is in creating front-end websites and apps, but I
      am currently learning the backend as well to become a full-stack
      developer.
    </p>
    <p>
      As a hobby, I like to dabble in art. This includes drawing and 3d
      sculpting.
    </p>
    <p>
      Feel free to check out some of the <a href='#projects'>projects</a> I've made,
      or read some <a href='#blog-posts'>blog posts</a> I have written!
    </p>
  </section>

  <section class='max-width info-section links-section'>
    <h2 class='post-section-title'>
      <span class='post-section-title-icon ri-links-fill'></span>
      <span>Links</span>
    </h2>
    <hr class='hr-short' />
    <div class='section-link-list'>
      <SectionLinksGroup />
    </div>
  </section>

  <section
    id='blog-posts'
    class='max-width recent-posts info-section'>
    <PostsSection />
  </section>

  <section
    id='projects'
    class='max-width featured-projects info-section'>
    <ProjectsSection />
  </section>
</BaseLayout>
