---
import { Picture } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';

import profilePicture from '../assets/images/site/index/lorelei-2-removebg.png';
import HeroLinks from '../components/HeroLinks.astro';
import IconLink from '../components/IconLink.astro';
import Heading from '../components/typgraphy/Heading.astro';

const title = 'Austin Hagel';
---

<style>
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-inline: 1rem;

    width: 100%;
    max-width: fit-content;
  }

  .hero-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .image-frame {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 10px solid var(--clr-base);
    border-radius: var(--radius-circle);

    background-color: var(--clr-surface-0);

    overflow: hidden;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
  }

  .profile-image {
    --image-size: 256px;

    width: var(--image-size);
    height: var(--image-size);
  }

  .hero-paragraph {
    max-width: 74ch;
    font-size: 1rem;

    padding: 0;
    margin: 0;
  }

  .hero-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 2rem;
  }

  .hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .about-me {
    max-width: 40ch;
    text-align: justify;

    margin: 0;
    padding: 0;
  }

  hr {
    min-width: 100%;
    width: 20rem;

    border: none;

    height: 1px;

    background-color: var(--clr-text);

    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    .hero-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8rem;
      width: 100%;
    }

    .hero-content-wrapper {
      grid-row: 1;
      justify-self: end;
      margin-top: 1.8rem;
    }

    .hero-paragraph-wrapper {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    .hero-info-wrapper {
      grid-row: 1;
      /* width: 20rem; */
      width: 100%;
      justify-self: start;
    }

    .about-me {
      max-width: 74ch;
      text-align: left;
      margin-inline: auto;
    }
  }
</style>

<BaseLayout title={title}>
  <section class='hero-wrapper max-width'>
    <!-- <IconLink
      url='https://example.com'
      label='Example'
      newTab={true}
      iconClass='bx bxs-bulb'
    /> -->
    <div class='hero-content-wrapper'>
      <div class='image-frame'>
        <Picture
          src={profilePicture}
          formats={['webp', 'png']}
          alt='Austin Hagel'
          loading='eager'
          decoding='async'
          width='256'
          class='profile-image'
        />
      </div>

      <Heading
        type='title'
        level={1}
        >Austin Hagel</Heading
      >
    </div>

    <div class='hero-info-wrapper'>
      <div class='hero-link-list'>
        <HeroLinks />
      </div>
    </div>
  </section>
</BaseLayout>
