---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<style>
  section.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 50vh;
  }
</style>

<BaseLayout title='Austin Hagel | Thank you for contacting!'>
  <section class='max-width main-section'>
    <h2>Thank you for your message/inquiry!</h2>
    <p>I will get back to you as soon as possible!</p>
  </section>
</BaseLayout>
