---

---

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }

  ol {
    list-style-type: none;
    padding: 0;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  ol.main-list {
    position: relative;

    display: flex;
    gap: 1rem;

    /* padding-left: 1rem; */

    /* background-color: var(--clr-base); */
    /* padding: 1rem; */

    /* border-radius: var(--radius-surface); */
    /* outline: 1px solid var(--clr-surface-0); */
  }

  li.main-list-item {
    isolation: isolate;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 1rem;
  }

  li.main-list-item::before {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;

    height: 100%;
    height: calc(100% - 4rem);
    width: 0.2rem;

    border-radius: var(--radius-pill);

    background-color: var(--clr-surface-0);

    z-index: -1;
  }

  button.main-li-title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    padding: 0;
    margin: 0;
    margin-left: -0.9rem;

    background-color: transparent;

    border: none;

    cursor: pointer;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  button.main-li-title:hover {
    color: var(--clr-primary);
  }

  .main-li-title-icon {
    font-size: 2rem;
  }

  .sub-list {
    padding-left: 1.5rem;
  }

  .sub-li-title {
    position: relative;
  }

  .sub-li-title-dot {
    isolation: isolate;
    content: '';

    position: absolute;
    left: -1.9rem;
    top: 0.2rem;

    width: 1rem;
    height: 1rem;

    border-radius: var(--radius-circle);

    background-color: var(--clr-primary);
  }

  .sub-li-title-dot::after {
    content: '';

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);

    width: 0.4rem;
    height: 0.4rem;

    background-color: var(--clr-base);

    border-radius: var(--radius-circle);

    z-index: 1;
  }
</style>

<ol class='main-list'>
  <li class='main-list-item'>
    <h3>
      <button class='main-li-title'>
        <span class='main-li-title-icon ri-arrow-down-s-fill'></span>
        <span>2025</span>
      </button>
    </h3>
    <ol class='sub-list'>
      <h4 class='sub-li-title'>
        <span class='sub-li-title-dot'></span>
        <span>May</span>
      </h4>
      <li>Post 1</li>
      <li>Post 2</li>
      <li>Post 3</li>
    </ol>
    <ol class='sub-list'>
      <h4 class='sub-li-title'>
        <span class='sub-li-title-dot'></span>
        <span>April</span>
      </h4>
      <li>Post 1</li>
      <li>Post 2</li>
      <li>Post 3</li>
    </ol>
    <ol class='sub-list'>
      <h4 class='sub-li-title'>
        <span class='sub-li-title-dot'></span>
        <span>March</span>
      </h4>
      <li>Post 1</li>
      <li>Post 2</li>
      <li>Post 3</li>
    </ol>
  </li>

  <li class='main-list-item'>
    <h3>
      <button class='main-li-title'>
        <span class='main-li-title-icon ri-arrow-down-s-fill'></span>
        <span>2024</span>
      </button>
    </h3>
    <ol class='sub-list'>
      <h4 class='sub-li-title'>
        <span class='sub-li-title-dot'></span>
        <span>December</span>
      </h4>
      <li>Post 1</li>
      <li>Post 2</li>
      <li>Post 3</li>
    </ol>
    <ol class='sub-list'>
      <h4 class='sub-li-title'>
        <span class='sub-li-title-dot'></span>
        <span>November</span>
      </h4>
      <li>Post 1</li>
      <li>Post 2</li>
      <li>Post 3</li>
    </ol>
    <ol class='sub-list'>
      <h4 class='sub-li-title'>
        <span class='sub-li-title-dot'></span>
        <span>October</span>
      </h4>
      <li>Post 1</li>
      <li>Post 2</li>
      <li>Post 3</li>
    </ol>
  </li>
</ol>
