---
import Picture from 'astro/components/Picture.astro';
import testImage from '@assets/images/test.jpg';

const {
  title = 'Placeholder Title',
  content = 'Lorem Ipsum placeholder description text.',
} = Astro.props;
---

<style>
  .archive-post-card-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    background-color: var(--clr-crust);

    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);

    height: 8rem;

    overflow: hidden;
  }

  .picture-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 5 / 3;

    overflow: hidden;

    max-height: 100%;
  }

  .archive-post-img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    cursor: pointer;

    transition-property: scale;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  .archive-post-img:hover {
    scale: 1.04;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4rem;

    padding: 1rem;
    padding-left: 0;
  }

  .post-title {
    font-size: 1.25rem;

    margin: 0;
  }

  .date {
    margin: 0;

    font-size: 0.9rem;
    color: var(--clr-subtext-1);
  }
</style>

<div class='archive-post-card-wrapper'>
  <div class='picture-wrapper'>
    <Picture
      width={1200}
      height={1200}
      src={testImage}
      alt={'A test image'}
      formats={['avif', 'webp', 'png']}
      decoding={'async'}
      loading={'lazy'}
      class='archive-post-img'
    />
  </div>
  <div class='content-wrapper'>
    <p class='date'>
      <span class='ri-calendar-fill'></span>
      <span>January 01</span>
    </p>
    <h5 class='post-title'>{title}</h5>
    <p>{content}</p>
  </div>
</div>
