---
const { credit } = Astro.props;
---

<style>
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .credit-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.2rem;

    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    padding-inline: 1.4rem;

    margin: 0;

    border-radius: var(--radius-surface);
    border: 1px solid var(--clr-surface-0);

    background-color: var(--clr-base);

    width: 100%;
  }

  .credit-list-item-title {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--clr-subtext-1);

    margin: 0;
    padding: 0;
  }

  .credit-list-item-link {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: 700;
    font-size: 1.4rem;

    padding: 0;
    margin: 0;

    transition-property: filter;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.credit-list-item-link:hover {
    filter: brightness(120%);
  }

  a.source-link {
    text-decoration: none;

    padding-inline: 1rem;
    padding-block: 0.4rem;

    border-radius: var(--radius-input);

    background-color: var(--clr-mantle);
    outline: 1px solid var(--clr-surface-0);

    font-size: 0.9rem;

    transition-property: color, background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.source-link:hover {
    color: var(--clr-primary);
    background-color: var(--clr-base);
    outline: 1px solid var(--clr-surface-1);
  }

  .credit-name {
    grid-column: 1;
    grid-row: 1;
  }

  .credit-use {
    grid-column: 1;
    grid-row: 2;
  }

  .credit-link {
    grid-column: 2;
    grid-row: 1 / 3;

    align-self: center;
    justify-self: end;
  }

  @media screen and (max-width: 768px) {
    .credit-list-item {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    .credit-link {
      grid-column: 1;
      grid-row: 3;

      justify-self: start;
      align-self: start;

      margin-left: -0.2rem; /* Just to help align the link to the items above it*/
    }
  }
</style>

<li class='credit-list-item box-shadow-1'>
  <h3 class='credit-name'>
    <a
      class='credit-list-item-link'
      href={credit.url}
      target='_blank'>
      <span>{credit.name}</span>
    </a>
  </h3>
  <p class='credit-use credit-list-item-title'>{credit.use}</p>
  <a
    class='credit-link source-link'
    href={credit.url}
    target='_blank'>
    <span>View Source</span>
    <span class='ri-external-link-fill'></span>
  </a>
</li>
