---
/*

Take inspiration from these examples:
https://fuwari.vercel.app/archive/category/Examples/
https://yukina-blog.vercel.app/en/categories/e68ee04d
https://shoka.lostyu.me/archives/

*/

import ArchiveFilter from '@/components/pages/blog/archive/ArchiveFilter.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';

const title = 'Blog | Archive';
---

<style>
  section {
    width: 100%;
  }
</style>

<BaseLayout title={title}>
  <section class='max-width'>
    <ArchiveFilter />
  </section>
</BaseLayout>
