---
/*

Take inspiration from these examples:
https://fuwari.vercel.app/archive/category/Examples/
https://yukina-blog.vercel.app/en/categories/e68ee04d
https://shoka.lostyu.me/archives/

*/

import BaseLayout from '../../../layouts/BaseLayout.astro';

const title = 'Blog | Archive';
---

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0;
  }

  section {
    width: 100%;
    padding-inline: 1rem;
  }

  .tabs-group-wrapper {
    position: relative;

    background-color: var(--clr-base);

    border-radius: var(--radius-surface);

    outline: 1px solid var(--clr-surface-0);

    width: 100%;

    overflow: hidden;
  }

  .tabs-titles-group-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tab-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 1rem;

    width: 100%;

    cursor: pointer;

    outline: 1px solid var(--clr-surface-0);
  }

  .tab-title-wrapper:hover {
    background-color: var(--clr-surface-0);
  }

  .tab-title-wrapper[data-active='true'] {
    color: var(--clr-primary);
    background-color: var(--clr-surface-0);
    cursor: default;
  }

  .tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4ch;

    font-weight: 400;
    font-size: 1.2rem;
  }

  .tab-content-wrapper {
    width: 100%;
    padding: 1rem;
  }

  ul.tab-content-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.45rem 0.4rem;
  }

  .tab-content-wrapper[data-active='false'] {
    display: none;
  }

  .tab-content-item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 1rem;
    padding-block: 0.4rem;

    background-color: var(--clr-surface-0);

    border-radius: var(--radius-pill);
    outline: 1px solid var(--clr-surface-1);

    cursor: pointer;

    transition-property: background-color, outline, color;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
  }

  .tab-content-item:hover {
    background-color: var(--clr-surface-1);
    outline: 1px solid var(--clr-surface-2);
  }

  .tab-content-item[data-active='true'] {
    background-color: var(--clr-primary);
    outline: 1px solid var(--clr-surface-0);

    color: var(--clr-mantle);
  }

  @media screen and (min-width: 768px) {
    .tabs-titles-group-wrapper {
      flex-direction: row;
    }

    .tab-title-wrapper {
      justify-content: center;

      padding-left: 0rem;
    }
  }
</style>

<BaseLayout title={title}>
  <section class='max-width'>
    <div class='tabs-group-wrapper'>
      <div class='tabs-titles-group-wrapper'>
        <div
          class='tab-title-wrapper'
          data-tab-id='tags'
          data-active='true'>
          <p class='tab-title'>
            <span class='ri-price-tag-3-fill'></span>
            <span>Tags</span>
          </p>
        </div>
        <div
          class='tab-title-wrapper'
          data-tab-id='categories'
          data-active='false'>
          <p class='tab-title'>
            <span class='ri-apps-2-fill'></span>
            <span>Categories</span>
          </p>
        </div>
        <div
          class='tab-title-wrapper'
          data-tab-id='topics'
          data-active='false'>
          <p class='tab-title'>
            <span class='ri-lightbulb-fill'></span>
            <span>Topics</span>
          </p>
        </div>
      </div>
      <div class='tabs-content-group-wrapper'>
        <div
          class='tab-content-wrapper'
          data-tab-id='tags'
          data-active='true'>
          <p>Filter by tag</p>
          <ul class='tab-content-list'>
            <li>
              <p
                class='tab-content-item'
                data-active='true'>
                All
              </p>
            </li>
            <li>
              <p class='tab-content-item'>Tag 1</p>
            </li>
            <li>
              <p class='tab-content-item'>Tag 2</p>
            </li>
            <li>
              <p class='tab-content-item'>Tag 3</p>
            </li>
            <li>
              <p class='tab-content-item'>Tag 4</p>
            </li>
            <li>
              <p class='tab-content-item'>Tag 5</p>
            </li>
          </ul>
        </div>

        <div
          class='tab-content-wrapper'
          data-tab-id='categories'
          data-active='false'>
          <p>Filter by category</p>
          <ul class='tab-content-list'>
            <li>
              <p>Category 1</p>
            </li>
            <li>
              <p>Category 2</p>
            </li>
            <li>
              <p>Category 3</p>
            </li>
            <li>
              <p>Category 4</p>
            </li>
            <li>
              <p>Category 5</p>
            </li>
          </ul>
        </div>

        <div
          class='tab-content-wrapper'
          data-tab-id='topics'
          data-active='false'>
          <p>Filter by topic</p>
          <ul class='tab-content-list'>
            <li>
              <p>Topic 1</p>
            </li>
            <li>
              <p>Topic 2</p>
            </li>
            <li>
              <p>Topic 3</p>
            </li>
            <li>
              <p>Topic 4</p>
            </li>
            <li>
              <p>Topic 5</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
