---
import Logo from '../components/Logo.astro';
import ContactButton from './ContactButton.astro';
import MenuButton from './OpenDrawerButton.astro';
import NavLinks from './NavLinks.astro';
import LightSwitch from './LightSwitch.astro';
---

<style>
  nav#app-bar {
    isolation: isolate;

    position: fixed;
    top: 0;

    display: flex;

    width: 100%;

    margin-bottom: auto;

    border-bottom: 1px solid var(--clr-surface-0);

    transition-property: top, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    z-index: 1;
  }

  .nav-content-wrapper::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    /* background-color: var(--clr-mantle-trans-60); */

    background-color: var(--clr-mantle);

    /* backdrop-filter: blur(12px); */

    z-index: -1;
  }

  .nav-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;
    padding-block: 0.8rem;

    width: 100%;
  }

  .menu-btn-wrapper {
    display: none;
  }

  .contact-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  @media screen and (max-width: 768px) {
    .nav-links-wrapper,
    .contact-btn-wrapper {
      display: none;
    }

    .menu-btn-wrapper {
      display: flex;
    }
  }
</style>

<nav
  id='app-bar'
  transition:animate='fade'>
  <div class='nav-content-wrapper max-width'>
    <Logo />
    <div class='nav-links-wrapper'>
      <NavLinks />
    </div>
    <div class='contact-btn-wrapper'>
      <LightSwitch id='appbar' />
      <ContactButton />
    </div>
    <div class='menu-btn-wrapper'>
      <MenuButton />
    </div>
  </div>
</nav>

<script src='../scripts/appBar.ts'></script>
