---

---

<style>
  .light-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    margin-left: auto;
  }

  .switch {
    position: relative;
    display: inline-block;

    width: 3.8rem;
    height: 1.85rem;

    cursor: pointer;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--clr-surface-0);
    transition: 0.1s ease-out;

    outline: 2px solid var(--clr-surface-0);
  }

  .slider:before {
    position: absolute;
    content: '';

    --slider-size: 1.45rem;

    height: var(--slider-size);
    width: var(--slider-size);

    left: 0.24rem;
    bottom: 0.18rem;

    background-color: var(--clr-base);
    transition: 0.1s ease-out;
  }

  input:checked + .slider {
    background-color: var(--clr-surface-2);
  }

  input:focus + .slider,
  input:hover + .slider {
    outline: 2px solid var(--clr-primary);
  }

  input:checked + .slider:before {
    transform: translateX(1.85rem);

    background-color: var(--clr-mantle);
  }

  .slider.round {
    border-radius: 999px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .light-toggle-icon {
    position: absolute;
    left: 0.45rem;
    bottom: 0.35rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    color: var(--clr-yellow);

    transition-property: transform, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  input:checked ~ .light-toggle-icon {
    transform: translateX(1.85em);
    color: var(--clr-texts);
  }

  input:not(:checked) ~ .light-toggle-icon > #light-toggle-icon-light {
    display: flex;
  }

  input:not(:checked) ~ .light-toggle-icon > #light-toggle-icon-dark {
    display: none;
  }

  input:checked ~ .light-toggle-icon > #light-toggle-icon-dark {
    display: flex;
  }

  input:checked ~ .light-toggle-icon > #light-toggle-icon-light {
    display: none;
  }

  .hidden {
    display: none;
  }
</style>

<div class='light-switch-container'>
  <p><span id='light-toggle-theme-label'></span> Theme</p>
  <label class='switch'>
    <input
      type='checkbox'
      id='chk-light-toggle'
      checked
    />
    <span class='slider round'></span>
    <div class='light-toggle-icon'>
      <span
        id='light-toggle-icon-light'
        class='bx bxs-sun'
      ></span>
      <span
        id='light-toggle-icon-dark'
        class='bx bxs-moon'
      ></span>
    </div>
  </label>
</div>

<script src='../scripts/toggleColorScheme.js'></script>
