---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Austin Hagel',
  description = "Austin Hagel's personal website!",
} = Astro.props;
---

<head>
  <meta charset='utf-8' />

  <meta
    name='description'
    content={description}
  />

  <link
    rel='apple-touch-icon'
    sizes='180x180'
    href='/favicon/apple-touch-icon.png'
  />

  <link
    rel='icon'
    type='image/png'
    sizes='32x32'
    href='/favicon/favicon-32x32.png'
  />

  <link
    rel='icon'
    type='image/png'
    sizes='16x16'
    href='/favicon/favicon-16x16.png'
  />

  <link
    rel='manifest'
    href='/favicon/site.webmanifest'
  />

  <meta
    name='viewport'
    content='width=device-width, initial-scale=1, user-scalable=yes'
  />

  <meta
    name='generator'
    content={Astro.generator}
  />

  <title>{title}</title>

  <ViewTransitions fallback='swap' />
</head>
