---

---

<style>
  dialog {
    z-index: 900;

    background-color: var(--clr-base);
    color: var(--clr-text);

    border: none;
    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  dialog::backdrop {
    background: var(--clr-crust);
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  dialog[open] {
    opacity: 1;
  }

  dialog[open]::backdrop {
    opacity: 0.9;
  }
</style>

<dialog id='contact-dialog'>
  <p>Hello, world</p>
  <form
    method='dialog'
    action=''>
    <button>Okay</button>
  </form>
</dialog>
