---

---

<style>
  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border: none;
    border-radius: 2pt;
    outline: 1px solid var(--clr-surface-1);

    height: 1.8rem;

    padding-inline: 1rem;

    font-family: 'IBM Plex Serif', serif;
    text-transform: capitalize;
    font-size: 1rem;

    background-color: var(--clr-surface-0);

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .btn-contact:hover {
    background-color: var(--clr-surface-1);
    cursor: pointer;
    outline: 1px solid var(--clr-surface-2);
  }
</style>

<button class='btn-contact'>
  <span class='bx bxs-chat'></span>
  <span>Contact</span>
</button>
