---
const { inDrawer } = Astro.props;
---

<style>
  button.btn-contact {
    display: flex;
    align-items: center;
    justify-content: start;

    border: none;
    border-radius: var(--radius-input);
    outline: 1px solid var(--clr-surface-0);

    padding: 0;

    background-color: var(--clr-base);

    height: 2.4rem;
    min-width: 8rem;

    font-size: 1rem;
    color: var(--clr-text);
    text-decoration: none;
    text-align: left;

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  button.btn-contact:hover {
    background-color: var(--clr-surface-0);
    cursor: pointer;
    outline: 1px solid var(--clr-surface-1);
    color: var(--clr-primary);
  }

  button.btn-contact:hover > .icon-wrapper {
    background-color: var(--clr-base);
    color: var(--clr-primary);
  }

  button.btn-contact[data-in-drawer='true'] {
    min-height: 3.6rem;
    font-size: 1.4rem;
  }

  button.btn-contact[data-in-drawer='true'] > .icon-wrapper {
    font-size: 1.8rem;
  }

  .btn-label {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    padding: 0;

    font-weight: 500;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.8rem;

    aspect-ratio: 1;

    background-color: var(--clr-mantle);

    height: 100%;

    transition: color, 0.15s, ease-out;
  }
</style>

<button
  data-in-drawer={inDrawer}
  class='btn-contact'>
  <div class='icon-wrapper'>
    <span class='contact-icon bx bxs-chat'></span>
  </div>
  <span class='btn-label'>Contact</span>
</button>

<script>
  document.addEventListener('astro:page-load', () => {
    const contactButtons = document.querySelectorAll('.btn-contact');
    const contactModal = document.getElementById(
      'contact-dialog'
    ) as HTMLDialogElement;

    contactButtons.forEach((btnContact) => {
      btnContact.addEventListener('click', () => {
        contactModal.showModal();
      });
    });
  });
</script>
