---
const { inDrawer } = Astro.props;
---

<style>
  button.btn-contact {
    display: flex;
    align-items: center;
    justify-content: start;

    border: none;
    border-radius: var(--radius-input);
    outline: 1px solid var(--clr-primary);

    padding: 0;

    background-color: var(--clr-base);

    height: 2.4rem;
    min-width: 8rem;

    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-text);
    text-decoration: none;
    text-align: left;

    overflow: hidden;

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  button.btn-contact:hover {
    background-color: var(--clr-text);
    cursor: pointer;
    outline: 1px solid var(--clr-text);
    color: var(--clr-base);
  }

  button.btn-contact[data-in-drawer='true'] {
    min-height: 3.6rem;
    font-size: 1.4rem;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.8rem;

    aspect-ratio: 1;

    background-color: var(--clr-primary);

    height: 100%;

    color: var(--clr-base);

    transition-property: color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  button.btn-contact:hover > .icon-wrapper {
    background-color: var(--clr-base);
    color: var(--clr-text);
  }

  button.btn-contact[data-in-drawer='true'] > .icon-wrapper {
    font-size: 1.8rem;
  }
</style>

<button
  data-in-drawer={inDrawer}
  class='btn-contact'>
  <div class='icon-wrapper'>
    <span class='contact-icon bx bxs-chat'></span>
  </div>
  <span class='btn-label'>Contact</span>
</button>

<script src='../scripts/contactDialog.ts'></script>
