---

---

<style>
  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border: none;
    border-radius: 999px;
    outline: 1px solid var(--clr-surface-200);

    padding-block: 0.6rem;
    padding-inline: 1.2rem;

    font-family: 'IBM Plex Serif', serif;
    text-transform: capitalize;
    letter-spacing: 0.2ch;
    font-weight: 600;
    font-size: 1rem;

    background-color: var(--clr-surface-400);

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .btn-contact:hover {
    background-color: var(--clr-text);
    color: var(--clr-surface-600);
    cursor: pointer;
    outline: 1px solid var(--clr-primary);
  }
</style>

<button class='btn-contact'>
  <span class='bx bxs-chat'></span>
  <span>Contact</span>
</button>
