---
import ColorThemeSelect from './ColorThemeSelect.astro';
import FontSelect from './FontSelect.astro';
import LightSwitch from './LightSwitch.astro';

const { inDrawer, lightSwitchId } = Astro.props;
---

<style>
  .customization-menu-wrapper {
    position: relative;
    z-index: 910;
  }

  button.btn-show-customization-options {
    display: flex;
    align-items: center;
    justify-content: start;

    border: none;
    border-radius: var(--radius-input);
    outline: 1px solid var(--clr-surface-0);

    padding: 0;

    background-color: var(--clr-base);

    height: 2.4rem;
    width: fit-content;

    font-size: 1rem;
    color: var(--clr-text);
    text-decoration: none;
    text-align: left;

    overflow: hidden;

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  button.btn-show-customization-options:hover {
    background-color: var(--clr-surface-0);
    cursor: pointer;
    outline: 1px solid var(--clr-surface-1);
    color: var(--clr-primary);
  }

  button.btn-show-customization-options:hover > .icon-wrapper {
    background-color: var(--clr-base);
    color: var(--clr-primary);
  }

  span.btn-label {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    padding-block: 0;
    padding-inline: 0.8rem;

    font-weight: 500;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;

    background-color: var(--clr-mantle);

    height: 100%;

    transition: color, 0.15s, ease-out;
  }

  .customization-menu {
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    background-color: var(--clr-crust);

    padding: 1rem;

    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-base);

    min-width: 14.6rem;

    transition-property: opacity, visibility;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  .customization-menu[data-active='true'] {
    visibility: visible;
    opacity: 1;
  }

  .customization-menu[data-active='false'] {
    visibility: hidden;
    opacity: 0;
  }

  .customization-menu[data-in-drawer='false'] {
    top: 2rem;
  }

  .customization-menu[data-in-drawer='true'] {
    top: auto;
    bottom: 3.5rem;

    left: -0.5rem;
    right: auto;
  }

  .lightswitch-wrapper {
    background-color: var(--clr-base);

    width: 100%;
    padding-block: 0.4rem;
    padding-inline: 1rem;

    border: none;
    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);
  }

  .customization-menu-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 900;

    background-color: salmon;
  }

  .customization-menu-overlay[data-active='false'] {
    visibility: hidden;
    pointer-events: none;
  }

  .customization-menu-overlay[data-active='true'] {
    visibility: visible;
    pointer-events: all;
  }

  @media screen and (min-width: 768px) {
    .customization-menu[data-in-drawer='true'] {
      display: flex;
    }
  }
</style>

<div class='customization-menu-wrapper'>
  <button
    id='btn-show-customization-options'
    class='btn-show-customization-options'>
    <div class='icon-wrapper'>
      <span class='bx bxs-customize'></span>
    </div>
    <span class='btn-label'>Customize</span>
  </button>
  <div
    class='customization-menu'
    data-in-drawer={inDrawer}
    data-active='false'>
    <div class='lightswitch-wrapper'>
      <LightSwitch id={lightSwitchId} />
    </div>
    <FontSelect />
    <ColorThemeSelect />
  </div>
</div>

<script src='../scripts/customizationMenuButton.ts'></script>
