---
import ColorThemeSelect from './ColorThemeSelect.astro';
import FontSelect from './FontSelect.astro';
import LightSwitch from './LightSwitch.astro';

const { inDrawer } = Astro.props;
---

<style>
  .customization-menu[data-in-drawer='false'] {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .customization-menu[data-in-drawer='true'] {
      display: flex;
    }
  }
</style>

<div
  class='customization-menu'
  data-in-drawer={inDrawer}>
  <LightSwitch id='customization-menu' />
  <FontSelect />
  <ColorThemeSelect />
</div>
