---

---

<style>
  button.menu-btn {
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    border: none;
    background-color: transparent;

    width: 3.8rem;
    height: 3.8rem;

    border-radius: 50%;

    padding: 0.6rem;

    margin-right: 1rem;
    margin-top: 0.1rem;

    cursor: pointer;

    z-index: 100;

    transition-property: top, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
  }

  button.menu-btn[data-action='close'] {
    gap: 0;
  }

  .menu-btn:hover > .menu-btn-line {
    background-color: var(--clr-primary);
  }

  .menu-btn-line {
    content: '';
    position: relative;

    width: 100%;
    max-width: 1.8rem;
    height: 2px;

    background-color: var(--clr-text);

    transition-property: background-color, transform, opacity, height;
    transition-duration: 0.5s;
    transition-timing-function: easo;
  }

  .menu-btn[data-action='close'] > .menu-btn-line-1 {
    transform: translateY(2px) rotate(45deg);
    background-color: var(--clr-error);
  }

  .menu-btn[data-action='close'] > .menu-btn-line-2 {
    transform: rotate(-45deg);
    background-color: var(--clr-error);
  }

  .menu-btn[data-action='close'] > .menu-btn-line-3 {
    transform: translateY(-2px);
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    .menu-btn,
    #btn-open-nav-drawer {
      display: none;
    }
  }
</style>

<button
  class='menu-btn'
  id='btn-open-nav-drawer'
  aria-label='Open Navigation Menu'
  data-action=''>
  <span class='menu-btn-line-1 menu-btn-line'></span>
  <span class='menu-btn-line-2 menu-btn-line'></span>
  <span class='menu-btn-line-3 menu-btn-line'></span>
  <span class='visually-hidden'>Open Navigation Menu</span>
</button>

<script src='../scripts/drawerToggleButton.ts'></script>
