---
import ColorThemeSelect from './ColorThemeSelect.astro';
import CustomizationMenu from './CustomizationMenu.astro';
import FontSelect from './FontSelect.astro';

const currentYear = new Date().getFullYear();
---

<style>
  footer {
    width: 100%;

    background-color: var(--clr-mantle);

    margin-top: auto;
    padding-block: 1rem;

    border-top: 1px solid var(--clr-surface-0);
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-content: end;

    width: 100%;

    padding-inline: 1rem;
    padding-block: 2rem;
  }

  .copyright-paragraph {
    display: flex;
    align-items: center;
    gap: 0.6ch;
  }

  .footer-credit-wrapper {
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .customization-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: fit-content;

    margin-left: auto;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 768px) {
    .footer-content {
      grid-template-columns: 1fr 1fr;
      align-items: start;
      justify-content: space-between;
      padding-block: 1rem;
    }

    .customization-wrapper {
      grid-column-start: 2;
      grid-row: 1;

      flex-direction: row;

      margin-bottom: 0;
    }

    .footer-credit-wrapper {
      grid-column-start: 1;
      grid-row: 1;

      align-items: start;
    }
  }
</style>

<footer>
  <div class='footer-content max-width'>
    <section class='footer-credit-wrapper'>
      <p class='copyright-paragraph'>
        <span class='visually-hidden'>&#169;</span>
        <span class='bx bxs-copyright'></span>
        <span>2021 &#45;</span>
        <span id='footer-copyright-current-year'>
          {currentYear}
        </span>
        <span>Austin Hagel</span>
      </p>
      <a href='/credits'>Credits</a>
    </section>
    <!-- <section class='customization-wrapper'>
      <CustomizationMenu />
    </section> -->
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Below is setting the year to the most current year automatically.
    //
    // I am using this because the code in the frontmatter will only show
    // the current year from the last time the project was built. That is
    // fine as the default, however in the case I do not rebuild the project
    // for over a year, then this script will keep it up to date.

    const currentYearLabel = document.getElementById(
      'footer-copyright-current-year'
    );
    const currentYear = new Date().getFullYear();

    currentYearLabel!.innerText = String(currentYear);
  });
</script>
