---
import ChangeFontInput from './ChangeFontInput.astro';

const currentYear = new Date().getFullYear();
---

<style>
  footer {
    display: flex;

    width: 100%;

    margin-top: auto;
    padding-top: 8rem;
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    border-top: 1px solid var(--clr-surface-0);

    padding-block: 1rem;

    background-color: var(--clr-mantle);
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    width: 100%;

    padding-inline: 1rem;
  }

  .copyright-paragraph {
    display: flex;
    align-items: center;
    gap: 0.6ch;
  }

  .footer-credit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  @media screen and (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>

<footer>
  <div class='footer-wrapper'>
    <div class='footer-content max-width'>
      <ChangeFontInput />
      <section class='footer-credit-wrapper'>
        <p class='copyright-paragraph'>
          <span class='visually-hidden'>&#169;</span>
          <span class='bx bxs-copyright'></span>
          <span>2021 &#45;</span>
          <span id='footer-copyright-current-year'>
            {currentYear}
          </span>
          <span>Austin Hagel</span>
        </p>
        <a href='/credits'>Credits</a>
      </section>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Below is setting the year to the most current year automatically.
    //
    // I am using this because the code in the frontmatter will only show
    // the current year from the last time the project was built. That is
    // fine as the default, however in the case I do not rebuild the project
    // for over a year, then this script will keep it up to date.

    const currentYearLabel = document.getElementById(
      'footer-copyright-current-year'
    );
    const currentYear = new Date().getFullYear();

    currentYearLabel!.innerText = String(currentYear);
  });
</script>
