---
const { id } = Astro.props;
---

<style>
  .light-switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    width: 100%;
  }

  .switch {
    position: relative;
    display: inline-block;

    width: 3.8rem;
    height: 1.85rem;

    cursor: pointer;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    inset: 0;

    cursor: pointer;

    background: var(--clr-surface-0);
    /* background: linear-gradient(
      90deg,
      var(--clr-surface-0) 0%,
      var(--clr-base) 100%
    ); */

    outline: 1px solid var(--clr-surface-1);

    transition: 0.1s ease-out;

    overflow: hidden;
  }

  .slider:before {
    position: absolute;
    content: '';

    --slider-size: 1.48rem;

    height: var(--slider-size);
    width: var(--slider-size);

    left: 0.24rem;
    bottom: 0.18rem;

    /* outline: 1px solid var(--clr-surface-0); */

    background-color: var(--clr-base);
    transition: 0.1s ease-out;
  }

  input:checked + .slider {
    background-color: var(--clr-mantle);
    /* background: linear-gradient(
      90deg,
      var(--clr-surface-0) 0%,
      var(--clr-surface-1) 100%
    ); */
  }

  input:hover + .slider {
    outline: 1px solid var(--clr-primary);
  }

  /* input:focus + .slider {
    outline: 1px solid var(--clr-surface-0);
  } */

  input:checked + .slider:before {
    transform: translateX(1.85rem);

    background: var(--clr-surface-0);
  }

  .slider.round {
    border-radius: var(--radius-pill);
  }

  .slider.round:before {
    border-radius: var(--radius-circle);
  }

  .light-switch-toggle-icon {
    position: absolute;
    left: 0.38rem;
    bottom: 0.28rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    color: var(--clr-yellow);
    font-size: 1.16rem;

    aspect-ratio: 1;

    border-radius: var(--radius-circle);

    padding: 0;
    margin: 0;

    transition-property: transform, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  input:checked ~ .light-switch-toggle-icon {
    transform: translateX(1.8rem);
    color: var(--clr-text);
  }

  input:not(:checked)
    ~ .light-switch-toggle-icon
    > .light-switch-toggle-icon-light {
    display: flex;
  }

  input:not(:checked)
    ~ .light-switch-toggle-icon
    > .light-switch-toggle-icon-dark {
    display: none;
  }

  input:checked ~ .light-switch-toggle-icon > .light-switch-toggle-icon-dark {
    display: flex;
  }

  input:checked ~ .light-switch-toggle-icon > .light-switch-toggle-icon-light {
    display: none;
  }

  .light-switch-label-wrapper {
    font-size: 0.9rem;
    color: var(--clr-subtext-0);
  }

  .disable-user-select {
    user-select: none;
  }
</style>

<div class='light-switch-container'>
  <p class='light-switch-label-wrapper'>
    <span class='light-switch-label disable-user-select'></span> Theme
  </p>
  <label
    class='switch'
    for=`light-switch-toggle-${id}`
    title='Toggle Light Mode'>
    <span class='visually-hidden disable-user-select'>Toggle Color Scheme</span>
    <input
      type='checkbox'
      class='chk-light-switch-toggle disable-user-select'
      name=`light-switch-toggle-${id}`
      id=`light-switch-toggle-${id}`
      checked
    />
    <span class='slider round disable-user-select'></span>
    <div class='light-switch-toggle-icon'>
      <span
        class='light-switch-toggle-icon-light ri-sun-fill disable-user-select'
      ></span>
      <span
        class='light-switch-toggle-icon-dark ri-moon-clear-fill disable-user-select'
      ></span>
    </div>
  </label>
</div>

<script src='../scripts/lightSwitch.ts'></script>
