---
const { url, label, iconClass } = Astro.props;
---

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    text-decoration: none;

    color: var(--clr-text);

    background-color: var(--clr-surface-400);

    border-radius: 1pt;
    outline: 1px solid var(--clr-surface-300);

    padding-inline: 1rem;
    padding-block: 0.4rem;

    width: fit-content;

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    background-color: var(--clr-text);
    outline: 1px solid var(--clr-primary);
    color: var(--clr-surface-400);
  }

  .link-label {
    position: relative;
    top: 0.05rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    font-size: 1rem;
  }

  .link-icon {
    font-size: 1.4rem;
  }
</style>

<a href={url}>
  {iconClass && <span class=`link-icon ${iconClass}` />}
  <span class="link-label">{label}</span>  
</a>
