---
import LinkListItem from './LinkListItem.astro';

const links = [
  {
    url: 'https://astn.sh/linkedin',
    label: 'LinkedIn',
    iconClass: 'bx bxl-linkedin-square',
  },
  {
    url: 'https://astn.sh/frontend-mentor',
    label: 'Frontend Mentor',
    iconClass: 'bx bxs-dashboard',
  },
  {
    url: '/blog',
    label: 'Blog',
    iconClass: 'bx bxs-message-square-dots',
  },
  {
    url: 'https://astn.sh/github',
    label: 'Github',
    iconClass: 'bx bxl-github',
  },
  {
    url: '/projects',
    label: 'Projects',
    iconClass: 'bx bx-code-block',
  },
];
---

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;

    list-style: none;

    padding: 0;
    margin-top: 2rem;
  }

  li {
    width: 100%;
  }
</style>

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <LinkListItem
            url={link.url}
            label={link.label}
            iconClass={link.iconClass}
          />
        </li>
      ))
    }
  </ul>
</nav>
