---
const { url, label, iconClass, newTab = 'true' } = Astro.props;
---

<style>
  :root {
    --padding-spacing: 1.8rem;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    text-decoration: none;

    color: var(--clr-text);

    background-color: var(--clr-surface-400);

    border-radius: 1pt;
    outline: 1px solid var(--clr-surface-300);

    padding-inline: var(--padding-spacing);
    padding-block: 0.6rem;


    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    background-color: var(--clr-text);
    outline: 1px solid var(--clr-primary);
    color: var(--clr-surface-400);
  }

  .link-label {
    position: relative;
    top: 0.05rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: auto;
    margin-left: 1.4rem;
    padding-right: var(--padding-spacing);

    font-size: 1rem;
  }

  .link-icon {
    font-size: 1.4rem;
    margin-right: auto;
  }
</style>

<a href={url} target={newTab ? `_blank` : ''}>
  {iconClass && <span class=`link-icon ${iconClass}` />}
  <span class="link-label">{label}</span>  
</a>
