---

---

<style>
  a {
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.6ch;
    font-size: 1.4rem;

    color: white;
    background-color: var(--clr-surface);

    border-radius: 2pt;

    padding-inline: 0.4rem;
    padding-block: 0.2rem;

    transition-property: color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    color: var(--clr-surface);
    background-color: white;
  }
</style>

<a href='/'><span id='logo'>Logo</span></a>
