---
const { inDrawer } = Astro.props;
---

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.6ch;
    font-size: 1.2rem;

    color: var(--clr-text);
    background-color: var(--clr-crust);

    outline: 1px solid var(--clr-surface-0);

    padding-inline: 0.8rem;
    padding-block: 0.4rem;

    max-width: 6.4rem;

    transition-property: color, background-color, outline, font-weight;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    font-weight: 400;
    color: var(--clr-crust);
    background-color: var(--clr-text);
    outline: 1px solid var(--clr-subtext-0);
  }

  a[data-in-drawer="true"] {
    padding-block: 1.4rem;

    width: 100%;
    max-width: 100%;

    font-size: 1.8rem;
  }
</style>

<a data-in-drawer={inDrawer} href='/'><span id='logo'><span class='label-domain'>astn</span></span> </a>
