---

---

<style>
  a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6ch;

    color: cornflowerblue;
  }

  a:hover {
    color: cornsilk;
  }
</style>

<a href='/'><span>Logo</span></a>
