---
const { mobileView } = Astro.props;
---

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.6ch;
    font-size: 1.2rem;

    color: var(--clr-text);
    background-color: var(--clr-crust);

    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-surface);

    padding-inline: 0.8rem;
    padding-block: 0.4rem;

    max-width: 6.4rem;

    transition-property: color, background-color, outline, font-weight;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    font-weight: 400;
    color: var(--clr-crust);
    background-color: var(--clr-text);
    outline: 1px solid var(--clr-subtext-0);
  }

  a[data-mobile-view='true'] {
    position: fixed;
    top: 0;
    left: 0;

    margin: 1rem;

    z-index: 20;
    display: none;
  }

  a[data-mobile-view='false'] {
    /* display: none; */
  }

  @media screen and (min-width: 768px) {
    a[data-mobile-view='true'] {
      display: none;
    }

    a[data-mobile-view='false'] {
      display: flex;
    }
  }
</style>

<a
  data-mobile-view={mobileView}
  href='/'
  ><span id='logo'><span class='label-domain'>astn</span></span>
</a>
