---
import ContactButton from './ContactButton.astro';
import CustomizationMenu from './CustomizationMenu.astro';
import CustomizationMenuOverlay from './CustomizationMenuOverlay.astro';
import NavLinks from './NavLinks.astro';
import SearchInput from './SearchInput.astro';
---

<style>
  #nav-drawer {
    isolation: isolate;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    /* width: 100%; */
    /* max-width: 90%; */
    width: 90vw;
    margin-left: 10.5vw;

    height: 100dvh;

    outline: 1px solid var(--clr-surface-0);

    box-shadow: -12px 0px 16px rgba(0, 0, 0, 0);

    overflow: hidden;

    visibility: visible;

    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    z-index: 10;
  }

  #nav-drawer[data-user-touch-active='true'] {
    transition-property: visibility, opacity, pointer-events;
  }

  #nav-drawer[data-user-touch-active='false'] {
    transition-property: transform, visibility, opacity, pointer-events;
  }

  #nav-drawer[data-active='true'] {
    transform: translateX(0%);
    pointer-events: all;
    /* opacity: 1; */
    /* visibility: visible; */
    box-shadow: -12px 0px 16px rgba(0, 0, 0, 0.1);
  }

  #nav-drawer[data-active='false'] {
    transform: translateX(100%);
    pointer-events: none;
    /* opacity: 0; */
    /* visibility: hidden; */
  }

  #nav-drawer::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    /* backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); */

    /* background-color: var(--clr-base-trans-60); */
    background-color: var(--clr-mantle);

    z-index: -1;
  }

  .nav-drawer-content {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    max-width: 16rem;

    padding-block: 4rem;
    padding-left: 1rem;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--clr-base);
  }

  .customization-button-wrapper {
    display: block;

    /* scale: 1.2; */

    padding-left: 1rem;
    margin-right: auto;

    margin-bottom: 2rem;

    z-index: 110;
  }

  .customization-menu-overlay-wrapper {
    z-index: 100;
  }

  @media screen and (min-width: 768px) {
    #nav-drawer {
      display: none;
    }
  }
</style>

<aside
  data-active='false'
  data-touch-active='true'
  id='nav-drawer'
  transition:name='nav-drawer'>
  <div class='customization-menu-overlay-wrapper'>
    <CustomizationMenuOverlay />
  </div>

  <div class='nav-drawer-content'>
    <SearchInput inDrawer='true' />
    <NavLinks />
    <ContactButton inDrawer='true' />
  </div>
  <div class='customization-button-wrapper'>
    <CustomizationMenu
      id='nav-drawer'
      inDrawer='true'
    />
  </div>
</aside>

<script src='../scripts/navDrawer.ts'></script>
