---

---

<style>
  #nav-drawer {
    isolation: isolate;

    position: absolute;
    right: 0;
    top: 0;

    width: 24rem;
    max-width: 80vw;

    height: 100vh;

    transform: translateX(0%);

    z-index: 10;
  }

  #nav-drawer::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    background-color: var(--clr-base-trans-60);

    border-left: 1px solid var(--clr-surface-0);
  }

  #overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--clr-crust-trans-60);
    backdrop-filter: blur(6px);

    z-index: 9;
  }
</style>

<div id='overlay'></div>
<div id='nav-drawer'></div>
