---
import ContactButton from './ContactButton.astro';
import NavLinks from './NavLinks.astro';
---

<style>
  #nav-drawer {
    isolation: isolate;

    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    max-width: 80vw;

    height: 100dvh;

    transform: translateX(0%);

    overflow: hidden;

    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    z-index: 10;
  }

  #nav-drawer::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    background-color: var(--clr-base-trans-60);

    border-left: 1px solid var(--clr-surface-0);

    z-index: -1;
  }

  .nav-drawer-content {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    padding-block: 4rem;
    padding-inline: 2rem;
  }

  #overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--clr-crust-trans-60);
    backdrop-filter: blur(6px);

    z-index: 9;

    opacity: 1;
    visibility: visible;
    pointer-events: all;

    transition-property: opacity, visibility;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
  }

  #nav-drawer[data-active='false'] {
    transform: translateX(100%);
  }

  #overlay[data-active='false'] {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
</style>

<div
  data-active='false'
  id='nav-drawer'>
  <div class='nav-drawer-content'>
    <NavLinks />
    <ContactButton />
  </div>
</div>

<div
  data-active='false'
  id='overlay'>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const drawerOverlay = document.getElementById('overlay');
    const navDrawer = document.getElementById('nav-drawer');
    const drawerWrapper = document.getElementById('drawer-wrapper');

    drawerOverlay!.addEventListener('click', () => {
      navDrawer!.setAttribute('data-active', 'false');
      drawerOverlay!.setAttribute('data-active', 'false');
      document.body.setAttribute('data-scroll-active', 'true');
      drawerWrapper!.style.pointerEvents = 'none';
    });
  });
</script>
