---
import Logo from '../components/Logo.astro';
import ContactButton from './ContactButton.astro';
import MenuButton from './MenuButton.astro';
import NavLinks from './NavLinks.astro';
---

<style>
  nav {
    position: sticky;
    top: 0;

    display: flex;

    width: 100%;

    background-color: var(--clr-mantle);
    backdrop-filter: blur(10px);

    margin-bottom: auto;

    border-bottom: 1px solid var(--clr-surface-0);
  }

  .nav-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;
    padding-block: 0.8rem;

    width: 100%;
  }

  .menu-btn-wrapper {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .nav-links-wrapper,
    .contact-btn-wrapper {
      display: none;
    }

    .menu-btn-wrapper {
      display: block;
    }
  }
</style>

<nav>
  <div class='nav-content-wrapper max-width'>
    <Logo />
    <div class='nav-links-wrapper'>
      <NavLinks />
    </div>
    <div class='contact-btn-wrapper'>
      <ContactButton />
    </div>
    <div class='menu-btn-wrapper'>
      <MenuButton />
    </div>
  </div>
</nav>
