---
import Logo from '../components/Logo.astro';
import ContactButton from './ContactButton.astro';
import NavLinks from './NavLinks.astro';

const navLinks = [
  { url: '/', label: 'Home' },
  { url: '/blog', label: 'Blog' },
  { url: '/about', label: 'About' },
  { url: '/projects', label: 'Projects' },
];
---

<style>
  nav {
    display: flex;

    width: 100%;

    background-color: var(--clr-surface-600);

    margin-bottom: auto;
  }

  .nav-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;
    padding-block: 0.8rem;

    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .nav-links-wrapper,
    .contact-btn-wrapper {
      display: none;
    }
  }
</style>

<nav>
  <div class='nav-content-wrapper max-width'>
    <Logo />
    <div class='nav-links-wrapper'>
      <NavLinks />
    </div>
    <div class='contact-btn-wrapper'>
      <ContactButton />
    </div>
  </div>
</nav>
