---
import Logo from '../components/Logo.astro';

const navLinks = [
  { url: '/', label: 'Home' },
  { url: '/blog', label: 'Blog' },
  { url: '/about', label: 'About' },
];
---

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: rgb(43, 43, 43);

    margin-bottom: auto;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;

    margin: 0;
    padding: 0;

    padding-inline: 1rem;
    padding-block: 0.8rem;

    list-style: none;
  }

  li:first-child {
    margin-right: auto;
  }

  li:last-child {
    margin-left: auto;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;

    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    color: cornflowerblue;
  }

  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 1pt;

    padding-block: 0.4rem;
    padding-inline: 1rem;

    font-family: 'IBM Plex Serif', serif;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    font-weight: 700;
    color: white;

    background-color: var(--clr-surface);

    transition-property: color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .btn-contact:hover {
    color: var(--clr-surface);
    background-color: white;
    cursor: pointer;
  }
</style>

<nav>
  <ul class='max-width'>
    <li>
      <Logo />
    </li>
    {
      navLinks.map((navLink) => (
        <li>
          <a href={navLink.url}>{navLink.label}</a>
        </li>
      ))
    }
    <li>
      <button class='btn-contact'>Contact</button>
    </li>
  </ul>
</nav>
