---
import Logo from '../components/Logo.astro';

const navLinks = [
  { url: '/', label: 'Home' },
  { url: '/blog', label: 'Blog' },
  { url: '/about', label: 'About' },
  { url: '/projects', label: 'Projects' },
];
---

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--clr-surface-600);

    margin-bottom: auto;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;

    margin: 0;
    padding: 0;

    padding-inline: 1rem;
    padding-block: 0.8rem;

    list-style: none;
  }

  li:first-child {
    margin-right: auto;
  }

  li:last-child {
    margin-left: auto;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;

    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    color: var(--clr-primary);
  }

  .btn-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border: none;
    border-radius: 999px;
    outline: 1px solid var(--clr-surface-200);

    padding-block: 0.6rem;
    padding-inline: 1.2rem;

    font-family: 'IBM Plex Serif', serif;
    text-transform: capitalize;
    letter-spacing: 0.2ch;
    font-weight: 600;
    font-size: 1rem;

    background-color: var(--clr-surface-400);

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .btn-contact:hover {
    background-color: var(--clr-text);
    color: var(--clr-surface-600);
    cursor: pointer;
    outline: 1px solid var(--clr-primary);
  }
</style>

<nav>
  <ul class='max-width'>
    <li>
      <Logo />
    </li>
    {
      navLinks.map((navLink) => (
        <li>
          <a href={navLink.url}>{navLink.label}</a>
        </li>
      ))
    }
    <li>
      <button class='btn-contact'>
        <span class='bx bxs-chat'></span>
        <span>Contact</span>
      </button>
    </li>
  </ul>
</nav>
