---
import '../styles/components/navLinks.css'
import links from '../content/links.json';
const navLinks = links.internalLinks;
---

<ul class='nav-links'>
  {
    navLinks.map((navLink) => {
      const isActive =
        Astro.url.pathname === navLink.url ||
        (navLink.url !== '/' && Astro.url.pathname.startsWith(navLink.url));

      return (
        <li>
          <a
            class='nav-link'
            href={navLink.url}
            data-is-current-page={isActive.toString()}>
            <div class="nav-link-icon-wrapper">
              <span class=`nav-link-icon ${navLink.iconClass}` />
            </div>
            <span class="nav-link-label">
              {navLink.label}
            </span>
          </a>
        </li>
      );
    })
  }
</ul>
