---
import { calculateReadingTime } from '@scripts/utils/readingTime';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const sortedPosts = allPosts
  .sort(
    (a, b) => b.data.date_published.valueOf() - a.data.date_published.valueOf()
  )
  .map((post) => ({
    ...post,
    readingTime: calculateReadingTime(post.body),
  }));

const topics = [
  ...new Set(sortedPosts.map((post: any) => post.data.topic).flat()),
];
---

<nav class='blog-topics-nav'>
  <ul
    class='blog-topics-list'
    transition:name='post-directory-topics'>
    {
      topics.map((topic) => (
        <li class='blog-topics-list-item'>
          <a href={`/blog/topics/${topic}`}>{topic}</a>
        </li>
      ))
    }
  </ul>
</nav>
