---
const { id } = Astro.props;
---

<style>
  .select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.8ch;

    background-color: var(--clr-mantle);
    padding-block: 0.4rem;
    padding-inline: 0.6rem;

    border: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-input);

    width: 100%;
  }

  select {
    font-family: inherit;
    font-size: 1rem;

    background-color: var(--clr-base);
    border: none;
    border-radius: var(--radius-input);

    padding-inline: 0.4rem;
    padding-block: 0.2rem;

    transition: background-color 0.15s ease-out;

    width: 100%;

    color: var(--clr-text);
  }

  select:active,
  select:focus,
  select:hover {
    border: none;
    background-color: var(--clr-surface-0);
    outline: none;
  }

  label {
    font-size: 0.9rem;
    color: var(--clr-subtext-0);
  }
</style>

<div class='select-wrapper'>
  <label for='color-theme'>Color Theme</label>
  <select
    class='color-theme-select'
    name='color-theme'
    id=`color-theme-select-${id}`>
    <option value='catppuccin'>Catppuccin</option>
    <option value='high-contrast'>High Contrast</option>
  </select>
</div>

<script src='@scripts/theme/selectTheme.ts'></script>
