---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<style>
  section,
  .search-results-header {
    padding-inline: 1rem;
  }

  div.search-results-header {
    width: 100%;
  }

  section.search-results {
    width: 100%;
  }

  ul#search-results {
    padding: 0;
    list-style: none;
  }

  li.search-result-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-mantle);
    color: red;
  }

  #spinner {
    align-items: center;
    justify-content: center;
    fill: var(--clr-text);

    font-size: 2.5rem;

    animation: spin 2.5s linear infinite;
  }

  #spinner[data-active='true'] {
    display: flex;
  }

  #spinner[data-active='false'] {
    display: none;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<BaseLayout title={`Search the site`}>
  <div class='max-width search-results-header'>
    <h2 id='search-readout'></h2>
  </div>
  <section
    aria-label='Search Results'
    class='max-width search-results'>
    <div class='loading-icon'>
      <i
        id='spinner'
        class='ri-loader-2-fill'
        data-active='false'
      ></i>
    </div>
    <ul id='search-results'></ul>
  </section>
</BaseLayout>

<script src='@scripts/search/search.ts'></script>
