---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Archived Projects';
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <p>My archived projects</p>
  <ul>
    <li>Archived Project 1</li>
    <li>Archived Project 2</li>
    <li>Archived Project 3</li>
  </ul>
</BaseLayout>
