---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const allProjects = await getCollection('projects');

const title = 'Projects';
---

<style>
  section {
    width: 100%;
    padding-inline: 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }
</style>

<BaseLayout title={title}>
  <section class='max-width'>
    <h1>Projects</h1>
    <hr />
  </section>

  <section class='max-width'>
    <h2>Featured</h2>
    <p>My featured projects</p>
    <ul>
      {
        allProjects.map((project) => (
          <li>
            <a href={`/projects/${project.slug}`}>{project.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>

  <section class='max-width'>
    <h2>Archive</h2>
    <p>My archived projects</p>
    <a href='/projects/archive'>Archived Projects</a>
  </section>
</BaseLayout>
