---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Projects';
---

<BaseLayout title={title}>
  <h1>Projects</h1>
  <hr />
  <h2>Featured</h2>
  <p>My featured projects</p>
  <ul>
    <li>Project 1</li>
    <li>Project 2</li>
    <li>Project 3</li>
  </ul>
  <h2>Archive</h2>
  <p>My archived projects</p>
  <a href='/projects/archive'>Archived Projects</a>
</BaseLayout>
