---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';

const allProjects = await getCollection('projects');

const title = 'Projects';
---

<style>
  section {
    width: 100%;
    padding-inline: 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  ul.feature-projects-list {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;

    list-style: none;

    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: 1024px) {
    ul.feature-projects-list {
      display: grid;
      grid-template-columns: auto auto;
      gap: 2rem;

      list-style: none;

      padding: 0;
      margin: 0;
    }
  }
</style>

<BaseLayout title={title}>
  <section class='max-width'>
    <h1>Projects</h1>
    <hr />
  </section>

  <section class='max-width'>
    <h2>Featured</h2>
    <p>My featured projects</p>
    <ul class='feature-projects-list'>
      {
        allProjects.map((project) => (
          <li>
            <ProjectCard
              url={`/projects/${project.slug}`}
              title={project.data.title}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section class='max-width'>
    <h2>Archive</h2>
    <p>My archived projects</p>
    <a href='/projects/archive'>Archived Projects</a>
  </section>
</BaseLayout>
