---
function formatPathSegment(segment: string) {
  let decoded = decodeURIComponent(segment);

  decoded = decoded.replace(/\+/g, ' ');

  decoded = decoded.replace(/[-_]/g, ' ');

  decoded = decoded
    .split(' ')
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())
    .join(' ');

  return decoded;
}

const currentPath = Astro.url.pathname;

function generateBreadcrumbs(path: string) {
  const segments = path.replace(/\/$/, '').split('/').filter(Boolean);

  return segments.map((segment, index) => {
    const url = '/' + segments.slice(0, index + 1).join('/');
    const label = formatPathSegment(segment);

    return {
      label,
      url,
    };
  });
}

const breadcrumbs = generateBreadcrumbs(currentPath);
---

<style>
  .breadcrumb {
    position: absolute;
    top: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--clr-crust);
    padding-block: 1rem;

    padding-inline: 1rem;
  }

  .breadcrumb-list {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    list-style: none;

    padding-block: 0;
    padding-inline: 1rem;
    margin: 0;

    width: 100%;
  }

  /* .breadcrumb-list::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -0.4rem;

    height: 1px;
    width: 100%;

    background-color: var(--clr-surface-0);
  } */

  .breadcrumb-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;

    background-color: var(--clr-base);
    border-radius: var(--radius-input);
  }

  .breadcrumb-item a,
  .current {
    color: var(--clr-subtext-1);
    text-decoration: none;
    transition: color 0.2s;

    width: 100%;
    height: 100%;

    padding-block: 0.2rem;
    padding-inline: 0.6rem;
  }

  /* .breadcrumb-item:has(.separator) {
    padding-right: 0.5rem;
  } */

  .breadcrumb-item a:hover {
    color: var(--clr-primary);
    text-decoration: underline;
  }

  .current {
    color: var(--clr-subtext-0);
    font-weight: 500;
  }

  .separator {
    position: absolute;
    right: -0.1rem;
    margin: 0 0.5rem;
    color: var(--clr-surface-2);

    display: none;
  }
</style>

<nav
  aria-label='Breadcrumb'
  class='breadcrumb'>
  <ol class='breadcrumb-list max-width'>
    {
      breadcrumbs.length > 0 && (
        <li class='breadcrumb-item'>
          <a href='/'>
            <span class='bx bxs-home' />
            <span class='visually-hidden'>Home</span>
          </a>
          {breadcrumbs.length > 0 && <span class='separator'>/</span>}
        </li>
      )
    }
    {
      breadcrumbs.length > 0 &&
        breadcrumbs.map((crumb, index) => (
          <li class='breadcrumb-item'>
            {index === breadcrumbs.length - 1 ? (
              <span
                class='current'
                aria-current='page'>
                {crumb.label}
              </span>
            ) : (
              <>
                <a href={crumb.url}>{crumb.label}</a>
                <span class='separator'>/</span>
              </>
            )}
          </li>
        ))
    }
  </ol>
</nav>
