---
import '../styles/global/fonts.css';
import '../styles/global/global.css';
import '../styles/global/variables.css';
import '../styles/utils/boxicons.min.css';

import NavDrawer from '../components/NavDrawer.astro';
import CustomizationMenuOverlay from '../components/CustomizationMenuOverlay.astro';
import ContactDialog from '../components/ContactDialog.astro';
import NavDrawerOverlay from '../components/NavDrawerOverlay.astro';
import AppBar from '@components/common/AppBar.astro';
import CommonHead from '@components/common/CommonHead.astro';
import Footer from '@components/common/Footer.astro';
import Breadcrumb from '@components/common/Breadcrumb.astro';
import MobileHeaderElements from '@/components/common/MobileHeaderElements.astro';

const { title, description } = Astro.props;
---

<style>
  main {
    margin-top: 8rem;
  }
</style>

<html lang='en'>
  <CommonHead
    title={title}
    description={description}
  />
  <body data-font='sans-serif'>
    <NavDrawerOverlay />
    <CustomizationMenuOverlay inDrawer={false} />
    <ContactDialog />
    <NavDrawer />
    <MobileHeaderElements />
    <Breadcrumb />
    <AppBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script src='../scripts/main.ts'></script>
