---
import '../styles/fonts.css';
import '../styles/global.css';
import '../styles/variables.css';
import '../styles/boxicons.min.css';

import CommonHead from '../components/CommonHead.astro';
import NavDrawer from '../components/NavDrawer.astro';
import Navigation from '../components/AppBar.astro';
import Footer from '../components/Footer.astro';
import { fade } from 'astro:transitions';

const { title } = Astro.props;
---

<html lang='en'>
  <CommonHead title={title} />
  <body>
    <NavDrawer />
    <Navigation />
    <main transition:animate={fade({ duration: '0.4s' })}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script src='../scripts/main.js'></script>
