---
import '@styles/global/fonts.css';
import '@styles/global/global.css';
import '@styles/global/variables.css';
import '@styles/utils/remixicon.css';

import AppBar from '@components/common/AppBar.astro';
import Breadcrumb from '@components/common/Breadcrumb.astro';
import CommonHead from '@components/common/CommonHead.astro';
import ContactDialog from '@components/ContactDialog.astro';
import CustomizationMenuOverlay from '@components/CustomizationMenuOverlay.astro';
import Footer from '@components/common/Footer.astro';
import Logo from '@components/common/Logo.astro';
import NavDrawer from '@components/NavDrawer.astro';
import NavDrawerToggle from '@components/NavDrawerToggle.astro';
import NavDrawerOverlay from '@components/NavDrawerOverlay.astro';

const { title, description } = Astro.props;
---

<html lang='en'>
  <CommonHead
    title={title}
    description={description}
  />
  <body data-font='sans-serif'>
    <NavDrawerOverlay />
    <CustomizationMenuOverlay inDrawer={false} />
    <ContactDialog />
    <NavDrawer />

    <NavDrawerToggle />

    <Logo mobileView={true} />

    <Breadcrumb />
    <AppBar />
    <slot />
    <Footer />
  </body>
</html>

<script src='@/scripts/main.ts'></script>
