---
import '../styles/global/fonts.css';
import '../styles/global/global.css';
import '../styles/global/variables.css';
import '../styles/utils/boxicons.min.css';

import NavDrawer from '../components/NavDrawer.astro';
import NavDrawerToggle from '../components/NavDrawerToggle.astro';
import CustomizationMenuOverlay from '../components/CustomizationMenuOverlay.astro';
import ContactDialog from '../components/ContactDialog.astro';
import NavDrawerOverlay from '../components/NavDrawerOverlay.astro';
import AppBar from '@components/common/AppBar.astro';
import Logo from '@components/common/Logo.astro';
import CommonHead from '@components/common/CommonHead.astro';
import Footer from '@components/common/Footer.astro';

const { title, description } = Astro.props;
---

<html lang='en'>
  <CommonHead
    title={title}
    description={description}
  />
  <body data-font='sans-serif'>
    <ContactDialog />
    <NavDrawer />
    <NavDrawerOverlay />
    <NavDrawerToggle />
    <Logo mobileView={true} />
    <AppBar />
    <CustomizationMenuOverlay inDrawer='false' />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script src='../scripts/main.ts'></script>
