---
import '../styles/fonts.css';
import '../styles/global.css';
import '../styles/variables.css';
import '../styles/boxicons.min.css';

import CommonHead from '../components/CommonHead.astro';
import NavDrawer from '../components/NavDrawer.astro';
import Navigation from '../components/AppBar.astro';
import Footer from '../components/Footer.astro';
import NavDrawerToggle from '../components/NavDrawerToggle.astro';
import Logo from '../components/Logo.astro';
import CustomizationMenuOverlay from '../components/CustomizationMenuOverlay.astro';
import ContactDialog from '../components/ContactDialog.astro';
import NavDrawerOverlay from '../components/NavDrawerOverlay.astro';

const { title, description } = Astro.props;
---

<html lang='en'>
  <CommonHead
    title={title}
    description={description}
  />
  <body data-font='sans-serif'>
    <ContactDialog />
    <NavDrawer />
    <NavDrawerOverlay />
    <NavDrawerToggle />
    <Logo mobileView='true' />
    <Navigation />
    <CustomizationMenuOverlay inDrawer='false' />
    <main transition:animate='slide'>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script src='../scripts/main.ts'></script>
