---
import BaseLayout from './BaseLayout.astro';
---

<style>
  .post-wrapper-spacer {
    padding-inline: 1rem;
    width: 100%;
  }

  .post-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-block: 1rem;
    padding-inline: 4rem;
    margin: 1rem;

    border-radius: 4pt;
    outline: 1px solid var(--clr-surface-0);

    background-color: var(--clr-base);
  }
</style>

<div class='post-wrapper-spacer max-width'>
  <div class='post-wrapper'>
    <slot />
  </div>
</div>
