---
import BaseLayout from './BaseLayout.astro';
import '../styles/codeBlockCopyButton.css';
import '../styles/markdownPostStyles.css';
---

<style>
  .post-wrapper-spacer {
    padding-inline: 0;
    width: 100%;
  }

  .post-wrapper {
    padding-block: 1rem;
    padding-inline: 1rem;

    outline: 1px solid var(--clr-surface-0);

    background-color: var(--clr-base);
  }

  @media screen and (min-width: 768px) {
    .post-wrapper-spacer {
      padding-inline: 1rem;
    }

    .post-wrapper {
      padding-inline: 4rem;
      border-radius: var(--radius-wrapper);
    }
  }
</style>

<div class='post-wrapper-spacer max-width'>
  <div class='post-wrapper'>
    <slot />
  </div>
</div>

<script src='../scripts/codeBlockCopy.ts'></script>
