---
import '../styles/codeBlockCopyButton.css';
import '../styles/markdownPostStyles.css';

interface Props {
  frontmatter: any;
  postTarget: 'blog' | 'projects';
}

const { frontmatter, postTarget } = Astro.props;
---

<style>
  .post-wrapper-spacer {
    padding-inline: 0;
    width: 100%;
  }

  .post-wrapper {
    padding-block: 1rem;
    padding-inline: 1rem;

    outline: 1px solid var(--clr-surface-0);

    background-color: var(--clr-base);
  }

  @media screen and (min-width: 768px) {
    .post-wrapper-spacer {
      padding-inline: 1rem;
    }

    .post-wrapper {
      padding-inline: 4rem;
      border-radius: var(--radius-base);
    }
  }
</style>

<div class='post-wrapper-spacer max-width'>
  <article class='post-wrapper'>
    <slot />
  </article>
  <footer class='tags'>
    {
      frontmatter.tags.map((tag: string) => (
        <p class='tag'>
          <a href={`/${postTarget}/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </footer>
</div>

<script src='../scripts/codeBlockCopy.ts'></script>
