---
import Logo from '../components/Logo.astro';
---

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: auto;
  }
</style>

<nav>
  <Logo />
  <slot />
</nav>
